@charset 'utf-8';
@import url('reset.css');
/* 눈누 카페24 써라운드에어 */
@font-face {
  font-family: 'Cafe24SsurroundAir';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* 눈누 영도체 */
@font-face {
  font-family: 'Yeongdo-Rg';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/Yeongdo-Rg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  /* font-size */
  --title-font-size: 48px;
  --sub-title-font-size: 24px;
  --basic-font-size: 16px;

  /* font-style */
  --yeongdo-font: 'Yeongdo-Rg';

  /* color */
  --font-point-color: #c581ff;
  --black-color: #000;
  --darkgray-color: #404040;
  --about-point-color: rgba(255,97,48,.25);
  --about-bg-color: #f5faad;
  --site-point-color: rgba(86,79,230,.25);
  --site-bg-color: #6dc0f8;
  --design-bg-color: #fcb8ca;
}

body {
  font-family: 'Cafe24SsurroundAir';
}

.margin {
  max-width: 1500px;
  width: 75%;
}

.wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--darkgray-color);
}

.content {
  margin-top: 150px;
  z-index: 10;
}

/* ------------------ header ------------------ */
.header_wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--darkgray-color);
  position: fixed;
  top: 0;
  z-index: 9999;
}

.header {
  height: 150px;
  font-family: var(--yeongdo-font);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: #fff;
}

.header .logo {
  font-size: var(--title-font-size);
  margin-bottom: -10px;
}

.header ul {
  font-size: 30px;
  display: flex;
}

.header ul li {
  margin-left: 20px;
  transition: color .2s;
}

.header ul li:hover,
.header ul li.on {
  color: var(--font-point-color);
}
/* ------------------ header ------------------ */


/* ---------------- section1 home ---------------- */
.section1 {
  height: calc(100vh - 150px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../img/home_item3.svg') no-repeat;
  background-color: #fff;
}

.section1 .imgs {
  width: 600px;
  height: 200px;
  position: relative;
}

.section1 .imgs img {
  position: absolute;
  top: 0;
}

.section1 .imgs img:last-child {
  width: 300px;
  left: 160px;
  top: 150px;
  transform-origin: left center;
  transform: rotate(10deg);
  animation: upDown 2s infinite;
}

@keyframes upDown {
  0% {transform: rotate(-5deg);}
  50% {transform: rotate(5deg);}
  100% {transform: rotate(-5deg);}
}

.section1 p {
  width: 500px;
  font-size: 30px;
  position: relative;
  top: 60px;
}

.section1 p::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  animation: goRight 3s forwards;
}

@keyframes goRight {
  0% {left: 0;}
  100% {left: 100%;}
}

.section1 p span {
  transition: color .5s;
}

.section1 p span:hover {
  color: var(--font-point-color);
}

.section1 p strong {
  font-size: 40px;
}
/* ---------------- section1 home ---------------- */


/* ---------------- section2 about ---------------- */
.section2 {
  background-color: var(--about-bg-color);
  padding: 0 130px;
  position: relative;
}

.section2 h2 {
  font-size: var(--title-font-size);
  font-family: var(--yeongdo-font);
  text-align: center;
  padding: 200px 0 100px;
  box-sizing: border-box;
}


/* article 공통 레이아웃 */
.section2 article {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.section2 article h3 {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  padding: 2px 5px 2px 5px;
  font-size: var(--sub-title-font-size);
  background-color: var(--about-bg-color);
  overflow: hidden;
}

.section2 article h3::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  right: 100%;
  bottom: 0;
  background-color: var(--about-point-color);
  transition: .5s;
}

.section2 article .text_box:hover h3::before {
  left: 0;
  right: 0;
}

.section2 article .text_box p {
  line-height: 30px;
}
/* article 공통 레이아웃 */


.section2 .article1 {
  margin-top: 0px;
}

.section2 .article1 img {
  width: 400px;
}

.section2 .article1 .text_box {
  position: relative;
  margin-left: 60px;
  margin-bottom: 20px;
  align-self: flex-end;
  padding: 20px 0;
  border-bottom: 1px solid #000;
}

.section2 .article1 .text_box::before {
  content: '';
  position: absolute;
  top: 35px;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
}

.section2 .article1 .text_box h3 {
  padding: 2px 20px 2px 5px;
}

.section2 .article1 .text_box:hover h3::before {
  right: 15px;
}


.section2 .article2 .text_box:first-child {
  text-align: right;
  padding-right: 25px;
  border-right: 1px solid #000;
}

.section2 .article2 .text_box:last-child {
  padding-left: 25px;
}


.section2 .article3 {
  flex-direction: column;
  padding-bottom: 100px;
}

.section2 .article3:hover h3::before {
  left: 0;
  right: 0;
}

.section2 .article3 .skill_charts {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.section2 .article3 .skill_chart {
  width: 10vw;
  height: 10vw;
  position: relative;
}

.section2 .article3 .skill_chart .text_box,
.section2 .article3 .skill_chart svg {
  position: absolute;
  left: 0;
  right: 0;
}

.section2 .article3 .skill_chart svg {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #ff6130;
  stroke-width: 15px;
  stroke-dasharray: calc(45% * 2 * 3.14);
  stroke-dashoffset: 0;
  stroke-linecap: round;
  transform-origin: center center;
  transform: rotate(-90deg);
}

.section2 .article3 .skill_chart .text_box {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 10px;
  font-size: 20px;
}


.section2 .article3 .skill_chart .text_box span {
  font-size: 15px;
  line-height: 30px;
  color: var(--darkgray-color);
}

.section2::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 250px;
  background: linear-gradient(var(--about-bg-color),var(--site-bg-color));
}

/* ---------------- section2 about ---------------- */


/* ---------------- section3 site ---------------- */
.section3 {
  margin-top: 250px;
  padding: 150px 130px 10px;
  position: relative;
  background-color: var(--site-bg-color);
}

.section3 h2 {
  font-family: var(--yeongdo-font);
  font-size: var(--title-font-size);
  margin-bottom: 30px;
}

.section3 .site_item {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}

.section3 .site_item:nth-child(2n) {
  flex-direction: row-reverse;
}

.section3 .site_item img {
  width: 50%;
  height: 100%;
  background-color: #ddd;
}

.section3 .site_item .text_box {
  width: 50%;
  height: 100%;
  margin-left: 45px;
  position: relative;
  border-bottom: 1px solid #000;
}

.section3 .site_item:nth-child(2n) .text_box {
  margin-left: 0;
  margin-right: 45px;
}

.section3 .site_item .text_box::before {
  content: '';
  position: absolute;
  top: 12px;
  width: 100%;
  height: 1px;
  background-color: #000;
}

.section3 .site_item .text_box h3 {
  display: inline-block;
  position: relative;
  padding: 0 15px 0 0;
  font-size: var(--sub-title-font-size);
  background-color: var(--site-bg-color);
  overflow: hidden;
}

.section3 .site_item .text_box h3::before {
  content: '';
  position: absolute;
  right: 100%;
  left: -100%;
  top: 0;
  bottom: 0;
  background-color: var(--site-point-color);
  transition: .5s;
}

.section3 .site_item:hover .text_box h3::before {
  left: 0;
  right: 10px;
}

.section3 .site_item .text_box li {
  margin-top: 20px;
  display: flex;
}

.section3 .site_item .text_box li h4 {
  width: 65px;
}

.section3 .site_item .text_box li p {
  margin-left: 20px;
  color: var(--darkgray-color);
}

.section3 .site_item .text_box .shortcut_button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 15px;
  align-content: center;
  background-color: #564fe6;
  color: #fff;
  border-radius: 30px;
  /* overflow: hidden; */
}

.section3 .site_item .text_box .shortcut_button::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-color: #564fe6;
  transition: .5s;
  overflow: hidden;
}

.section3 .site_item .text_box .shortcut_button:hover::before {
  content: '웹 페이지 바로가기';
  width: 450%;
  line-height: 40px;
  padding-left: 25px;
}

.section3 .site_item .text_box .shortcut_button i {
  position: absolute;
  right: 13px;
  font-size: 18px;
  transform: translateX(0);
  transition: transform .5s;
}

.section3 .site_item .text_box .shortcut_button:hover i {
  transform: translateX(165px);
}

.section3::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 250px;
  background: linear-gradient(var(--site-bg-color),var(--design-bg-color));
}
/* --------------- section3 site --------------- */


/* -------------- section4 design -------------- */
.section4 {
  margin-top: 250px;
  background-color: var(--design-bg-color);
  padding: 180px 130px 70px;
  position: relative;
}

.section4 h2 {
  font-size: var(--title-font-size);
  font-family: var(--yeongdo-font);
  text-align: center;
  padding-bottom: 70px;
}

.section4 .design_items {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.section4 .design_items .design_item {
  width: 18vw;
  height: 18vw;
  background-color: #fff;
  margin-bottom: 30px;
}

.section4 .design_items .design_item:nth-child(3n) {
  margin-right: 0;
}
/* -------------- section4 design -------------- */


/* -------------- section5 contact ------------- */
.section5 {
  background-color: #fff;
  padding: 70px 130px 70px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section5 img {
  width: 120px;
  padding: 0 60px;
}

.section5 .text_box {
  padding-top: 50px;
  padding-left: 20px;
  width: 70%;
}

.section5 .text_box h2 {
  font-size: var(--title-font-size);
  font-family: var(--yeongdo-font);
  margin-bottom: -5px;
}

.section5 .text_box li {
  font-size: 28px;
  line-height: 40px;
}
/* -------------- section5 contact ------------- */


/* ------------------ footer ------------------ */
.footer {
  height: 150px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 130px;
  text-align: center;
}
/* ------------------ footer ------------------ */


/* -------------- animation items -------------- */
.deco_item {
  position: fixed;
  top: 150px;
  height: calc(100vh - 150px);
  display: none;
  z-index: 9999;
  pointer-events: none;
}

.deco_item img {
  position: absolute;
}

.deco_item.none {
  display: none;
  opacity: 0;
}


/* sec2_item layout */
.deco_item1.sec2_item img {
  width: 150px;
  left: -70px;
  bottom: 50px;
  transform-origin: center top;
  animation: clockTick 3s infinite;
}

@keyframes clockTick {
  0% {transform: rotate(-5deg);}
  50% {transform: rotate(5deg);}
  100% {transform: rotate(-5deg);}
}

.deco_item2.sec2_item {
  z-index: 0;
}

.deco_item2.sec2_item img {
  width: 150px;
  left: 100%;
  top: 50px;
  animation: hideAndSeek 4s infinite;
}

@keyframes hideAndSeek {
  0% {transform: translateX(-100px);}
  35% {transform: translateX(-20px);}
  65% {transform: translateX(-20px);}
  100% {transform: translateX(-100px);}
}
/* sec2_item layout */


/* sec3_item layout */
.deco_item1.sec3_item img {
  width: 160px;
  right: -70px;
  bottom: 100px;
  transform-origin: center center;
  transform: rotate(-10deg);
  animation: nod 3s infinite;
}

@keyframes nod {
  0% {transform: rotate(-20deg);}
  50% {transform: rotate(-10deg);}
  100% {transform: rotate(-20deg);}
}

.deco_item2.sec3_item img:nth-child(1) {
  width: 240px;
  left: -140px;
  top: 50px;
}

.deco_item2.sec3_item img:nth-child(2) {
  width: 25px;
  left: 25px;
  top: 175px;
  animation: mouseMove 4s infinite cubic-bezier(0.16, 1, 0.3, 1);
}

@keyframes mouseMove {
  0% {transform: translate(0,0);}
  35% {transform: translate(0,-20px);}
  65% {transform: translate(20px,-10px);}
  100% {transform: translate(0,0);}
}
/* sec3_item layout */


/* sec4_item layout */
.deco_item1.sec4_item img {
  width: 220px;
  left: -120px;
  bottom: 10px;
  transform-origin: center center;
  animation: clockTick 3s infinite;
}

@keyframes clockTick {
  0% {transform: rotate(-3deg);}
  50% {transform: rotate(3deg);}
  100% {transform: rotate(-3deg);}
}

.deco_item2.sec4_item img:nth-child(1) {
  width: 130px;
  right: -90px;
  top: 30px;
  transform-origin: center bottom;
  animation: paintAnimation 2s infinite;
}

@keyframes paintAnimation {
  0% {transform: scaleY(1);}
  35% {transform: scaleY(0.8);}
  65% {transform: scaleY(0.8);}
  100% {transform: scaleY(1);}
}

.deco_item2.sec4_item img:nth-child(2) {
  width: 40px;
  right: 20px;
  top: 225px;
  animation: paintSpray 2s infinite;
}

@keyframes paintSpray {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  35% {
    transform: translateY(20px);
    opacity: 1;
  }
  65% {
    transform: translateY(20px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}
/* sec4_item layout */

/* -------------- animation items -------------- */


