*{margin:0; padding:0;}
li{list-style:none;}
a{text-decoration: none; color:inherit;}
button{background-color: inherit; border:none; cursor: pointer; font-family:inherit; font-size:inherit;}
body{font-family: 'Noto Serif', serif; font-size:16px; overflow-x: hidden; scroll-behavior: smooth;}
img{width:auto; border:inherit; display: block;}
h1, h2, h3, h4, h5, h6 {font-weight: unset;}
.clearfix::after{content:""; clear:both; display: block;}


.margin{padding:0 5vw;}

/* header */
#header_wrap{position: sticky; top:0; z-index: 500; width: 100vw; background-color: #fff;}
header{display: flex; justify-content: space-between; position: sticky; top:0;
height: 110px; align-items: center; letter-spacing: -20; z-index: 100; font-family: 'Montserrat', sans-serif; font-weight: 700; padding:0 5vw; 
}
header nav li.active::before{
  content: ""; width: 100%; height: 1.5px; background-color: #000; display: block; position: relative; top: 27px;
}
header nav li::before{content: ""; width:0%; height: 1.5px; background-color: #000; display: block; position: relative; top: 27px; transition: 0.3s;}
header nav li:hover::before{width: 100%;}

#logo img{width: 185px;}

nav{width: 60%;}
nav ul{display: flex; justify-content: space-between;}
nav li{color:#000; font-size:20px;}

.icons{display: flex; color:#fff;}
.icons .icon:nth-child(1){margin-left:0;}
.icon{margin-left:30px;}
.icon img{width: 23px;}
.news{margin-left:30px;}
.news span{
  width:70px; height: 25px; line-height: 25px; text-align: center; font-size:15px;
  display: block; border-radius:13px; color:#fff; background-color:#000 ;
  
}

body{min-width: 1400px;}
/* header */

/* title */
#title{font-family: 'Montserrat', sans-serif; font-weight: 700;
  font-size: 55px;text-align: center; margin-top: 150px;
  width: 90vw;
}
/* title */

img{position: relative; transition: 0.5s;}

.text_box span{font-family: 'Montserrat', sans-serif; font-weight: 800; color:red}
.text_box h3{font-family: 'Noto Sans KR', sans-serif; font-weight: 800;}
.text_box p{font-family: 'Noto Sans KR', sans-serif; color:#4c4c4c; line-height: 25px; margin-top: 15px;}

/* section1 */
#section1{width: 90vw; margin-top: 160px; height: 900px; position: relative;}
#section1 li .main_img,#section1 li .content{float:left;}
#section1 li .main_img{width: 40vw; height: 900px; background-color: #ddd; overflow: hidden;}
#section1 li .main_img img.hover{transform: scale(105%);}
#section1 li .main_img:hover img{transform: scale(105%);}

#section1 li .content .text_box{width: 46vw; margin-left: 3vw; margin-top:10px;}
#section1 li .content .text_box span{font-size:20px;}
#section1 li .content .text_box h3{font-family: 'Montserrat', sans-serif; font-weight: 800; font-size:60px; line-height: 70px; margin-top: 20px;}
#section1 li .content .text_box p{margin-top: 20px;}

#section1 li .content .imgs_wrap{position: absolute; bottom: 0; right: 0;}
#section1 li .content .imgs_wrap .img{float:left; width: 22.5vw; height: 470px; background-color: #ddd; margin-left: 3vw;
overflow: hidden;}
#section1 li .content .imgs_wrap .img img{
  transform: scale(50%); transform-origin: left top;
}
#section1 li .content .imgs_wrap .img:nth-child(1) img{
  position: relative; top:-120px;
}
#section1 li .content .imgs_wrap .img:nth-child(2){margin-left: 2vw;}
/* section1 */

section .con{width: 28vw; height: 700px; float:left; margin-left: 3vw; margin-top: 150px;}
section .con:nth-child(3n+1){margin-left:0;}
section .con .img_wrap{width: 100%;height: 600px; background-color: #ddd; margin-bottom: 25px; overflow: hidden;}
section .con .img_wrap img{transform: scale(65%); transform-origin: left top; top: -50px;}
section .con .img_wrap:hover img{transform: scale(67%); transform-origin: left top; top: -50px;}
section .con .img_wrap img.hover{transform: scale(67%); transform-origin: left top; top: -50px;}
section .con .text_box span{font-size:18px;}
section .con .text_box h3{font-size:24px; font-weight: 700;}
section .con .text_box p{height: 50px;overflow: hidden;}
section .con .text_box .dot{margin-top: -2px;}


/* section2 */
#section2{position: relative; top: 50px; width: 90vw; height: 1800px;}

#con1 .img_wrap:hover img{transform-origin:-20px 0;}
#con2 .img_wrap img{left: -40px; transform: scale(65%);}
#con2 .img_wrap:hover img{left: -40px; transform: scale(67%); transform-origin: -30px -10px;}
#con3 .img_wrap img{top: -100px; left: -20px; transform: scale(60%);}
#con3 .img_wrap:hover img{top: -100px; left: -20px; transform: scale(62%); transform-origin: -20px 0;}
#con4 .img_wrap img{left: -30px; transform: scale(60%);}
#con4 .img_wrap:hover img{left: -30px; transform: scale(62%); transform-origin: -20px -10px;}
#con5 .img_wrap img{left: -50px; top: -80px;;}
#con5 .img_wrap:hover img{transform-origin: -30px -20px;}
#con6 .img_wrap img{left: -10px; top: -80px; transform: scale(60%);}
#con6 .img_wrap:hover img{transform: scale(62%); transform-origin: -30px 0; }
/* section2 */

/* section3 */
#section3{width: 90vw; height: 1800px; position: relative; top: -50px; display: none;}
#con7 .img_wrap:hover img{transform-origin: -20px -10px;}
#con7 .img_wrap img.hover{transform-origin: -20px -10px;}

#con8 .img_wrap img{transform: scale(100%); left: -150px;}
#con8 .img_wrap:hover img{transform: scale(102%); transform-origin: 40px -50px;}
#con8 .img_wrap img.hover{transform: scale(102%); transform-origin: 40px -50px;}

#con9 .img_wrap:hover img{transform-origin: -10px -10px;}
#con9 .img_wrap img.hover{transform-origin: -10px -10px;}

#con10 .img_wrap:hover img{transform-origin: -20px -20px;}
#con10 .img_wrap img.hover{transform-origin: -20px -20px;}

#con11 .img_wrap img{top: -100px; left:-10px;}
#con11 .img_wrap:hover img{transform-origin: -30px -20px;}
#con11 .img_wrap img.hover{transform-origin: -30px -20px;}
/* section3 */

/* button */
.issue_more_button{width:140px; height: 40px; margin:0 auto; position: relative; top: 300px; display: block;} 
.issue_more_button button{font-family: 'Noto Sans KR', sans-serif;
  width:140px; height: 40px; text-align: center; line-height: 40px; font-size:12px; border: 1px solid #000;}
/* button */

/* footer */
footer{height: 340px;  font-size:12px; font-family: 'Noto Sans KR', sans-serif; position: relative; top: 400px;}
#footer_up{
  width: 100vw; height: 40px; border-top:1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea; line-height: 40px; margin-bottom: 30px;
}
#footer_up li{float:left; margin-left:15px;}
#footer_up li:nth-child(1){margin-left:5vw; font-family: 'Noto Sans KR', sans-serif; font-weight: 900;}

#footer_down{margin-left:5vw;}
#footer_down .f_title{font-weight: 900; width: 340px; height: 10px;
  margin-bottom: 20px;
}
#footer_down li{float:left; width: 290px; height: 170px;}
#footer_down li span{line-height: 20px; display: block;}
#footer_down li:nth-child(1){margin-right: 30px;}
#footer_down li:nth-child(3){position: absolute; right: 5vw;}

/* footer */

@media screen and (max-width:1399px) and (min-width:0px){
  #header_wrap{width: 1400px;}
  #header_wrap header{width: 1260px; padding-left: 70px; margin:0;}
  header #logo{width: 185px;}
  header nav{width: 756px; margin-left: 71.5px;}
  header #join{width: 176px; margin-left: 71.5px;}

  #title{width: 1260px; margin:150px auto 0;}
  #section1{width: 1260px; margin:160px auto 0;}
  #section1 li .main_img{width: 560px;}
  #section1 li .content .text_box{width: 644px; margin-left: 42px;}
  #section1 li .content .imgs_wrap .img{width: 315px;}
  #section1 li .content .imgs_wrap .img:nth-child(2){margin-left: 28px;}

  #section2{width: 1260px; margin:0 auto;}
  section .con{width: 392px; margin-left: 42px;}
  
  #section3{width: 1260px; margin:0 auto;}

  /*이미지 꾸미기*/

  #section1 li .main_img img{left: -80px;}
  #section1 li .content .imgs_wrap .img:nth-child(1) img{left:-70px;}
  #section1 li .content .imgs_wrap .img:nth-child(2) img{left:-50px;}

  #con2 .img_wrap img{left: -110px; transform: scale(60%);}
  #con2 .img_wrap:hover img{left: -110px; transform: scale(62%);}
  #con3 .img_wrap img{left: -80px;}
  #con3 .img_wrap:hover img{transform-origin: -170px 0;}
  #con4 .img_wrap img{left: -120px;}
  #con4 .img_wrap:hover img{transform-origin: -260px 0;}
  #con5 .img_wrap img{left: -110px;}
  #con6 .img_wrap img{left: -70px;}
  #con7 .img_wrap img{left: -60px;}
  #con9 .img_wrap img{left: -40px;}
  #con11 .img_wrap img{left: -90px; transform: scale(60%);}
  #con11 .img_wrap:hover img{left: -90px; transform: scale(62%);}

  #footer_up{width: 1400px;}
  #footer_down{margin:0 60px;}
  #footer_up li:nth-child(1){margin-left:60px;}
  #footer_down li:nth-child(3){left: 1010px;}
}

@media screen and (max-width:1750px) and (min-width:1551px){
  #section1 li .main_img img{left: -60px;}
  #section1 li .content .imgs_wrap .img:nth-child(1) img{left:-50px;}
  #con2 .img_wrap img{left: -100px; transform: scale(65%);}
  #con2 .img_wrap:hover img{transform: scale(67%); transform-origin: -210px 0px;}
  #con3 .img_wrap img{left: -30px; top: -50px; transform: scale(55%);}
  #con3 .img_wrap:hover img{transform: scale(57%); transform-origin: -40px 100px;}
  #con4 .img_wrap img{left: -70px;}
  #con4 .img_wrap:hover img{transform-origin: -140px 0;}
  #con5 .img_wrap img{left: -80px;}
  #con7 .img_wrap img{left: -30px;}
  #con9 .img_wrap img{left: -20px;}
  #con11 .img_wrap img{left: -60px; transform: scale(63%);}
  #con11 .img_wrap:hover img{left: -60px; transform: scale(65%);}
}

@media screen and (max-width:1550px) and (min-width:1400px){
  #section1 li .main_img img{left: -80px;}
  #section1 li .content .imgs_wrap .img:nth-child(1) img{left:-70px;}
  #section1 li .content .imgs_wrap .img:nth-child(2) img{left:-50px;}

  #con2 .img_wrap img{left: -110px; transform: scale(60%);}
  #con2 .img_wrap:hover img{left: -110px; transform: scale(62%);}
  #con3 .img_wrap img{left: -80px;}
  #con3 .img_wrap:hover img{transform-origin: -170px 0;}
  #con4 .img_wrap img{left: -120px;}
  #con4 .img_wrap:hover img{transform-origin: -250px 0;}
  #con5 .img_wrap img{left: -110px;}
  #con6 .img_wrap img{left: -70px;}
  #con7 .img_wrap img{left: -60px;}
  #con9 .img_wrap img{left: -40px;}
  #con11 .img_wrap img{left: -90px; transform: scale(60%);}
  #con11 .img_wrap:hover img{left: -90px; transform: scale(62%);}
}


@media screen and (min-width:1921px){
  #header_wrap header{width: 1728px; margin:0 auto;}

  #title{width: 1728px; margin:150px auto 0;}
  #section1{width: 1728px; margin:160px auto 0;}
  #section1 li .main_img{width: 768px;}
  #section1 li .content .text_box{width: 905px; margin-left: 55px;}
  #section1 li .content .imgs_wrap .img{width: 432px;}
  #section1 li .content .imgs_wrap .img:nth-child(2){margin-left: 41px;}

  #section2{width: 1728px; margin:0 auto;}
  section .con{width: 538px; margin-left: 57px;}
  
  #section3{width: 1728px; margin:0 auto;}

  footer{margin-top: 0px;}
  #footer_up ul{width: 1728px; margin:0 auto;}
  #footer_up li:nth-child(1){margin-left:-10px;}
  #footer_down{width: 1728px; margin:0 auto;}
  #footer_down ul{width: 1728px; margin:0 auto; position: relative;}
  #footer_down li:nth-child(3){right: 0;}
}



