@charset 'utf-8';
@import url("reset.css");

:root {
  /* font layout */
  --font-montserrat: "Montserrat", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-notoSansKR: "Noto Sans KR", sans-serif;

  --font-bold: 700;
  --font-exBold: 900;

  --font-size-title: 55px;
  --font-size-XXL: 60px;
  --font-size-XL: 24px;
  --font-size-L: 20px;
  --font-size-R: 16px;
  --font-size-S: 12px;

  /* color */
  --hashtag-color: #00b4ff;
  --gray-bg-color: #f2f2f2;
  --gray-font-color: #4c4c4c;
  --gray-border-color: #eaeaea;
  --red-color: #ff0000;
  --dark-gray-color: rgb(34, 34, 34);
}

body {
  min-width: 1400px;
  font-family: var(--font-notoSansKR);
  overflow-x: hidden;
}

.margin {
  width: 90%;
  margin: 0 auto;
  max-width: 1730px;
  min-width: 1300px;
}

img {
  height: 100%;
}

/* -------------------- header -------------------- */
.header_wrap {
  position: sticky;
  top: 0;
  z-index: 500;
  width: 100%;
  height: 110px;
  background-color: #fff;
  transition: box-shadow .3s;
}

.header_wrap.shadow {
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05);
}

.header {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  font-family: var(--font-montserrat);
  font-weight: var(--font-bold);
}

/* header > logo */
.header .logo {
  float: left;
}

.header .logo a img {
  width: 185px;
}
/* header > logo */


/* header > nav */
.header .nav {
  min-width: 785px;
  float: left;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header .nav li {
  float: left;
  color: #000;
  font-size: var(--font-size-L);
  margin-left: 40px;
}

.header .nav li:first-child {
  margin-left: 0;
}

.header .nav li::before {
  content: "";
  position: relative;
  top: 27px;
  width: 0%;
  height: 1.5px;
  background-color: #000;
  display: block;
  transition: 0.3s;
}

.header nav li:hover::before,
.header nav li.active::before {
  width: 100%;
}
/* header > nav */


/* header > buttons */
.header .header_btns {
  float: right;
}

.header .header_btns .button {
  float: left;
}

.header .header_btns .buttons .button {
  margin-left: 30px;
}

.header .header_btns .buttons .icon:first-child {
  margin-left: 0;
}

.header .header_btns .buttons .icon img {
  width: 23px;
}

.header .header_btns .buttons .news {
  width: 70px;
  height: 27px;
  line-height: 27px;
  text-align: center;
  font-size: var(--font-size-R);
  border-radius: 13px;
  color: #fff;
  background-color: #000;
}
/* header > buttons */
/* -------------------- header -------------------- */


/* -------------------- title -------------------- */
h2.main_title {
  margin: 150px 0;
  text-align: center;
  font-family: var(--font-montserrat);
  font-weight: var(--font-bold);
  font-size: var(--font-size-title);
}
/* -------------------- title -------------------- */


/* -------------------- section1 -------------------- */
.section1 {
  height: 900px;
}

.section1 .main_img {
  float: left;
  width: 48%;
  height: 100%;
  overflow: hidden;
  
  /*animation*/
  position: relative;
  left: -50px;
  opacity: 0;
  transition: .7s;
}

.section1.active .main_img {
  left: 0;
  opacity: 1;
}

.section1.active .main_img img {
  transition: transform .5s;
}

@media (hover:hover) and (pointer:fine) {/* pc */
  .section1.active .main_img:hover img {
    transform: scale(105%);
  }
}

.section1 .content {
  float: right;
  width: 48%;
  height: 100%;
  position: relative;
}

.section1 .content .text_box {
  height: calc(100% - 470px);

  /*animation*/
  position: relative;
  top: -50px;
  opacity: 0;
  transition: .7s;
  transition-delay: .5s;
}

.section1.active .content .text_box {
  top: 0;
  opacity: 1;
}

.section1 .content .text_box span {
  color: var(--red-color);
  font-family: var(--font-montserrat);
  font-weight: var(--font-exBold);
  font-size: var(--font-size-L);
}

.section1 .content .text_box h3 {
  margin-top: 20px;
  line-height: 70px;
  font-size: var(--font-size-XXL);
  font-family: var(--font-montserrat);
  font-weight: var(--font-exBold);
}

.section1 .content .text_box p {
  margin-top: 20px;
  color: var(--gray-font-color);
  font-size: var(--font-size-R);
}

.section1 .content .sub_imgs {
  width: 100%;
  height: 500px;
  position: absolute;
  right: 0;
  bottom: -50px;
  opacity: 0;
  transition: .7s;
  transition-delay: 1s;
}

.section1.active .content .sub_imgs {
  bottom: 0;
  opacity: 1;
}

.section1 .content .sub_img {
  float: left;
  width: 48%;
  height: 100%;
  overflow: hidden;
}

.section1 .content .sub_img img {
  transition: transform .5s;
}

@media (hover:hover) and (pointer:fine) {/* pc */
  .section1 .content .sub_img:hover img {
    transform: scale(105%);
  }
}

.section1 .content .sub_img:last-child {
  float: right;
}
/* -------------------- section1 -------------------- */


/* ------------------- section2, 3 ------------------- */
section .con {
  float: left;
  width: 32%;
  margin-right: 2%;
  margin-bottom: 100px;

  /* animation */
  position: relative;
  opacity: 0;
  transition: .7s;
}

section .con:nth-child(3n+1) {
  left: -50px;
}
section .con:nth-child(3n+2) {
  top: -50px;
}
section .con:nth-child(3n+3) {
  right: -50px;
}

section .con.active {
  left: 0;
  top: 0;
  right: 0;
  opacity: 1;
}

section .con:nth-child(3n) {
  margin-right: 0;
}

section .con .img_wrap {
  width: 100%;
  height: 600px;
  margin-bottom: 25px;
  background-color: #000;
  overflow: hidden;
}

section .con .img_wrap img {
  transition: transform .5s;
}

@media (hover:hover) and (pointer:fine) {/* pc */
  section .con .img_wrap:hover img {
    transform: scale(105%);
  }
}

section .con .text_box span {
  color: var(--red-color);
  font-size: var(--font-size-R);
  font-family: var(--font-montserrat);
  font-weight: var(--font-exBold);
}

section .con .text_box .title {
  margin-bottom: 15px;
  font-size: var(--font-size-XL);
  font-family: var(--font-notoSansKR);
  font-weight: var(--font-bold);
}

section .con .text_box p {
  height: 50px;
  overflow: hidden;
}

section .con .text_box .dot {
  color: #000;
  font-weight: unset;
  font-family: unset;
}

.section2 {
  margin-top: 170px;
}

.section3 {
  display: none;
}
/* ------------------- section2, 3 ------------------- */


.more_button {
  width: 140px;
  height: 40px;
  display: block;
  position: relative;
  margin: 150px auto 0;
  line-height: 40px;
  text-align: center;
  font-size: var(--font-size-S);
  z-index: 5;
  border: 1px solid #000;
  transition: .5s;
}

.more_button:hover {
  border-color: #fff;
  color: #fff;
}

.more_button::after {
  content: '';
  position: absolute;
  left: 50%;
  right: 50%;
  top: 50%;
  bottom: 50%;
  transition: .5s;
  background-color: transparent;
  z-index: -1;
}

.more_button:hover::after {
  background-color: var(--dark-gray-color);
  left: -5px;
  right: -5px;
  top: -5px;
  bottom: -5px;
}

.more_button::before {
  content: '';
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  transition: .5s;
  border: 1px solid #fff;
}


/* -------------------- footer -------------------- */
.footer {
  margin-top: 120px;
  height: 340px;
  position: relative;
  font-size: var(--font-size-S);
}

.footer_up {
  height: 40px;
  line-height: 40px;
  margin-bottom: 30px;
  border-top: 1px solid var(--gray-border-color);
  border-bottom: 1px solid var(--gray-border-color);
}

.footer_up li {
  float: left;
  margin-left: 15px;
}

.footer_up li:nth-child(1) {
  font-weight: var(--font-exBold);
}

.footer_down {
  padding: 0 15px;
}

.footer_down li {
  float: left;
  width: 290px;
  height: 170px;
}

.footer_down .f_title {
  width: 340px;
  height: 10px;
  margin-bottom: 15px;
  font-weight: var(--font-exBold);
}

.footer_down li p {
  line-height: 23px;
  display: block;
}

.footer_down li:nth-child(1) {
  margin-right: 50px;
}

.footer_down li:nth-child(3) {
  position: absolute;
  right: 0;
}
/* -------------------- footer -------------------- */

@media screen and (max-width:1300px) {
  body {overflow-x: auto;}
}