@charset 'utf-8';
@import url("reset.css");

:root {
  /* font layout */
  --font-montserrat: "Montserrat", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-notoSansKR: "Noto Sans KR", sans-serif;

  --font-bold: 700;
  --font-exBold: 900;

  --font-size-title: 55px;
  --font-size-XXL: 60px;
  --font-size-XL: 24px;
  --font-size-L: 20px;
  --font-size-R: 16px;
  --font-size-S: 12px;

  /* color */
  --hashtag-color: #00b4ff;
  --gray-bg-color: #f2f2f2;
  --gray-font-color: #4c4c4c;
  --gray-border-color: #eaeaea;
  --red-color: #ff0000;
  --dark-gray-color: rgb(34, 34, 34);
}

body {
  min-width: 1400px;
  font-family: var(--font-notoSansKR);
  overflow-x: hidden;
}

.margin {
  width: 90%;
  margin: 0 auto;
  max-width: 1730px;
  min-width: 1300px;
}

img {
  height: 100%;
}

/* -------------------- header -------------------- */
.header_wrap {
  position: sticky;
  top: 0;
  z-index: 500;
  width: 100%;
  height: 110px;
  background-color: #fff;
  transition: box-shadow .3s;
}

.header_wrap.shadow {
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05);
}

.header {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  font-family: var(--font-montserrat);
  font-weight: var(--font-bold);
}

/* header > logo */
.header .logo {
  float: left;
}

.header .logo a img {
  width: 185px;
}
/* header > logo */


/* header > nav */
.header .nav {
  min-width: 785px;
  float: left;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header .nav li {
  float: left;
  color: #000;
  font-size: var(--font-size-L);
  margin-left: 40px;
}

.header .nav li:first-child {
  margin-left: 0;
}

.header .nav li::before {
  content: "";
  position: relative;
  top: 27px;
  width: 0%;
  height: 1.5px;
  background-color: #000;
  display: block;
  transition: 0.3s;
}

.header nav li:hover::before,
.header nav li.active::before {
  width: 100%;
}
/* header > nav */


/* header > buttons */
.header .header_btns {
  float: right;
}

.header .header_btns .button {
  float: left;
}

.header .header_btns .buttons .button {
  margin-left: 30px;
}

.header .header_btns .buttons .icon:first-child {
  margin-left: 0;
}

.header .header_btns .buttons .icon img {
  width: 23px;
}

.header .header_btns .buttons .news {
  width: 70px;
  height: 27px;
  line-height: 27px;
  text-align: center;
  font-size: var(--font-size-R);
  border-radius: 13px;
  color: #fff;
  background-color: #000;
}
/* header > buttons */
/* -------------------- header -------------------- */


/* -------------------- title -------------------- */
.title{
  margin-top: 250px;
  text-align: center;
  font-family: var(--font-montserrat);
  font-weight: var(--font-bold);
  font-size: var(--font-size-title);
}
/* -------------------- title -------------------- */


/* -------------------- modal -------------------- */
.lookbook_modal_wrap {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}

.lookbook_modal_wrap .modal {
  width: 50%;
  height: 70%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.lookbook_modal_wrap .modal iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
}
/* -------------------- modal -------------------- */


/* -------------------- section -------------------- */
.imgs_wrap {
  margin-top: 150px;
}

.img_wrap img {
  transition: .5s;
}

@media (hover:hover) and (pointer:fine) {/* pc */
  .img_wrap:hover img {
    transform: scale(105%);
  }
}

/* arrow */
.arrow_buttons {
  width: 78%;
  height: 38px;
  position: relative;
  left: 50%;
  top: 303px;
  transform: translateX(-50%);
  z-index: 9999;
}

.arrow_buttons button {
  width: 20px;
}

.arrow_buttons button img {
  width: 100%;
}

.arrow_buttons .prev_button {
  position: absolute;
  left: 0;
}

.arrow_buttons .next_button {
  position: absolute;
  right: 0;
}
/* arrow */

/* left img, right img */
.imgs_wrap .left_imgs,
.imgs_wrap .right_imgs {
  width: 22%;
  float: left;
  margin-top: 330px;
}

.imgs_wrap .right_imgs {
  float: right;
}

.imgs_wrap .left_imgs .img_wrap,
.imgs_wrap .right_imgs .img_wrap {
  width: 100%;
  height: 520px;
  overflow: hidden;
  
  background-color: #000;
}

.imgs_wrap .left_imgs .img_wrap:last-child,
.imgs_wrap .right_imgs .img_wrap:last-child {
  margin-top: 10%;
}
/* left img, right img */

/* center img */
.imgs_wrap .center_imgs {
  width: 52%;
  margin-left: 2%;
  float: left;
}

.imgs_wrap .center_imgs div .img_wrap {
  width: 48%;
  height: 620px;
  float: left;
  overflow: hidden;
}

.imgs_wrap .center_imgs .video {
  width: 100%;
  height: 425px;
  position: relative;
  margin: 4% 0;
  float: left;
}

.imgs_wrap .center_imgs .video button {
  width: 60px;
  height: 60px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.imgs_wrap .center_imgs .video i {
  color: transparent;
  font-size: 60px;
  transition: .5s;
}

@media (hover:hover) and (pointer:fine) {/* pc */
  .imgs_wrap .center_imgs .video:hover i {
    color: var(--red-color);
    transform: scale(110%);
  }
}

@media (hover:hover) and (pointer:coarse) {/* mobile */
  .imgs_wrap .center_imgs .video i {
    color: var(--red-color);
    transform: scale(110%);
  }
}

.con1 .imgs_wrap .center_imgs .video {
  background: url('../img/lookbook1-video.png');
  background-size: cover;
}
.con2 .imgs_wrap .center_imgs .video {
  background: url('../img/lookbook2-video.png');
  background-size: cover;
}
.con3 .imgs_wrap .center_imgs .video {
  background: url('../img/lookbook3-video.png');
  background-size: cover;
}

.imgs_wrap .center_imgs div .img_wrap:nth-child(2n) {
  margin-left: 4%;
}
/* center img */
/* -------------------- section -------------------- */


/* -------------------- footer -------------------- */
.footer {
  margin-top: 150px;
  height: 340px;
  position: relative;
  font-size: var(--font-size-S);
}

.footer_up {
  height: 40px;
  line-height: 40px;
  margin-bottom: 30px;
  border-top: 1px solid var(--gray-border-color);
  border-bottom: 1px solid var(--gray-border-color);
}

.footer_up li {
  float: left;
  margin-left: 15px;
}

.footer_up li:nth-child(1) {
  font-weight: var(--font-exBold);
}

.footer_down {
  padding: 0 15px;
}

.footer_down li {
  float: left;
  width: 290px;
  height: 170px;
}

.footer_down .f_title {
  width: 340px;
  height: 10px;
  margin-bottom: 15px;
  font-weight: var(--font-exBold);
}

.footer_down li p {
  line-height: 23px;
  display: block;
}

.footer_down li:nth-child(1) {
  margin-right: 50px;
}

.footer_down li:nth-child(3) {
  position: absolute;
  right: 0;
}
/* -------------------- footer -------------------- */

@media screen and (max-width:1300px) {
  body {overflow-x: auto;}
}