@charset "utf-8";
@import url("reset.css");

:root {
  /* font layout */
  --font-montserrat: "Montserrat", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-notoSansKR: "Noto Sans KR", sans-serif;

  --font-bold: 700;
  --font-exBold: 900;

  --font-size-title: 50px;
  --font-size-XXL: 30px;
  --font-size-XL: 25px;
  --font-size-L: 20px;
  --font-size-R: 16px;
  --font-size-S: 12px;

  /* color */
  --hashtag-color: #00b4ff;
  --gray-bg-color: #f2f2f2;
  --gray-font-color: #808080;
  --darkGray-font-color: #666;
  --gray-border-color: #eaeaea;
  --red-color: #ff0000;
  --dark-gray-color: rgb(34, 34, 34);
}

body {
  min-width: 1400px;
  font-family: var(--font-notoSansKR);
  overflow-x: hidden;
}

.margin {
  width: 90%;
  margin: 0 auto;
  max-width: 1730px;
  min-width: 1300px;
}

img {
  width: 100%;
}

/* -------------------- header -------------------- */
.header_wrap {
  position: sticky;
  top: 0;
  z-index: 500;
  width: 100%;
  height: 110px;
  background-color: #fff;
  transition: box-shadow .3s;
}

.header_wrap.shadow {
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05);
}

.header {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  font-family: var(--font-montserrat);
  font-weight: var(--font-bold);
}

/* header > logo */
.header .logo {
  float: left;
}

.header .logo a img {
  width: 185px;
}
/* header > logo */


/* header > nav */
.header .nav {
  min-width: 785px;
  float: left;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header .nav li {
  float: left;
  color: #000;
  font-size: var(--font-size-L);
  margin-left: 40px;
}

.header .nav li:first-child {
  margin-left: 0;
}

.header .nav li::before {
  content: "";
  position: relative;
  top: 27px;
  width: 0%;
  height: 1.5px;
  background-color: #000;
  display: block;
  transition: 0.3s;
}

.header nav li:hover::before,
.header nav li.active::before {
  width: 100%;
}
/* header > nav */


/* header > buttons */
.header .header_btns {
  float: right;
}

.header .header_btns .button {
  float: left;
}

.header .header_btns .buttons .button {
  margin-left: 30px;
}

.header .header_btns .buttons .icon:first-child {
  margin-left: 0;
}

.header .header_btns .buttons .icon img {
  width: 23px;
}

.header .header_btns .buttons .news {
  width: 70px;
  height: 27px;
  line-height: 27px;
  text-align: center;
  font-size: var(--font-size-R);
  border-radius: 13px;
  color: #fff;
  background-color: #000;
}
/* header > buttons */
/* -------------------- header -------------------- */


/* ---------------------- main ---------------------- */
.main {
  margin-top: 100px;
}

.main .left {
  float: left;
  width: 47%;
  height: 100%;
}

/* color_select */
.main .left .color_select {
  float: left;
  width: 13%;
}

.main .color_select .title {
  margin-bottom: 10px;
  text-align: center;
  font-family: var(--font-roboto);
  font-size: var(--font-size-L);
  font-weight: var(--font-bold);
}

.main .color_select li {
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid var(--gray-border-color);
  box-sizing: border-box;
}

.main .color_select li.active {
  border-color: #000;
}

@media (hover:hover) and (pointer:fine) {/* pc */
  .main .color_select li:hover {
    border-color: #000;
  }
}

.main .color_select li button {
  vertical-align: bottom;
}
/* color_select */


/* main_img */
.main .left .main_img_wrap {
  float: right;
  width: 83%;
  background-color: #000;
}
/* main_img */


.main .right {
  float: right;
  width: 50%;
  position: relative;
}

/* text_box */
.main .right .text_box {
  width: 100%;
}

.main .text_box p {
  color: var(--gray-font-color);
  font-size: var(--font-size-S);
}

.main .text_box h2 {
  font-size: var(--font-size-XXL);
  font-weight: var(--font-bold);
}

.main .text_box .normal_price {
  margin: 50px 0 -0px;
  display: block;
  color: var(--darkGray-font-color);
  text-decoration: line-through;
}

.main .text_box .discount_price {
  font-weight: var(--font-bold);
  font-size: var(--font-size-XXL);
}

.main .text_box .discount_rate {
  margin-left: 10px;
  color: var(--red-color);
  font-weight: var(--font-bold);
  font-size: var(--font-size-L);
}
/* text_box */


/* icons */
.main .right .icons {
  position: absolute;
  top: 0;
  right: 0;
}

.main .right .icon {
  width: 30px;
  margin-left: 25px;
}
/* icons */


/* size_select */
.main .right .size_select {
  width: 100%;
  position: absolute;
  bottom: 100px;
}

.main .size_select h2 {
  margin-bottom: 10px;
  font-family: var(--font-roboto);
  font-size: var(--font-size-L);
  font-weight: var(--font-bold);
}

.main .size_select li {
  float: left;
  width: 15%;
  height: 35px;
  margin-left: 2%;
  line-height: 35px;
  text-align: center;
  border: 1px solid var(--gray-border-color);
  box-sizing: border-box;
}

.main .size_select li.active {
  border-color: #000;
}

.main .size_select li button {
  width: 100%;
  height: 100%;
}

@media (hover:hover) and (pointer:fine) {
  .main .size_select li:hover {
    border-color: #000;
  }
}

.main .size_select li:first-child {
  margin-left: 0;
}
/* size_select */


/* buy_btns */
.main .right .buy_btns {
  width: 100%;
  height: 80px;
  position: absolute;
  bottom: 0;
}

.main .right .buy_btn {
  float: left;
  width: 49%;
  height: 100%;
  border-radius: 150px;
  box-sizing: border-box;
  font-size: var(--font-size-L);
}

.main .right .buy_btn:first-child {
  float: left;
  color: #fff;
  background-color: #000;
}

.main .right .buy_btn:last-child {
  float: right;
  border: 1px solid #000;
}
/* buy_btns */
/* ---------------------- main ---------------------- */


/* -------------------- sub_nav -------------------- */
.sub_nav {
  width: 100%;
  height: 80px;
  position: sticky;
  top: 110px;
  margin-top: 250px;
  border-top: 3px solid #000;
  background-color: rgba(255, 255, 255, .95);
  z-index: 9999;
}

.sub_nav li {
  float: left;
  position: relative;
  margin-top: 25px;
  margin-left: 30px;
  color: var(--gray-font-color);
  font-size: var(--font-size-L);
  transition: color .3s;
  cursor: pointer;
}

.sub_nav li.active {
  color: #000;
}

.sub_nav li::after {
  content: '';
  width: 0%;
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  background-color: #000;
  transition: width .3s;
}

.sub_nav li.active::after {
  width: 100%;
}

@media (hover:hover) and (pointer:fine) {/* pc */
  .sub_nav li:hover {
    color: #000;
  }
  
  .sub_nav li:hover::after {
    width: 100%;
  }
}

@media (hover:hover) and (pointer:coarse) {/* mobile */
  .sub_nav li {
    color: #000;
  }

  .sub_nav li:hover::after {
    display: none;
  }
}
/* -------------------- sub_nav -------------------- */

section {
  margin-top: 50px;
}

section .left {
  float: left;
  width: 48.5%;
}

section .right {
  float: right;
  width: 48.5%;
}

section p {
  line-height: 40px;
  font-weight: var(--font-bold);
  font-size: var(--font-size-XL);
}

/* -------------------- section1 -------------------- */
.section1 {
  position: relative;
  margin-top: 150px;
}

.section1 .right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.section1 .right .img_wrap {
  margin: 50px 0;
}

.section1 h3 {
  font-size: var(--font-size-title);
  font-weight: var(--font-bold);
}
/* -------------------- section1 -------------------- */


/* -------------------- section2 -------------------- */
.section2 .left {
  position: relative;
}

.section2 .left .img_wrap {
  width: 50%;
  position: absolute;
  right: 0;
}

.section2 .left p {
  margin-top: 53%;
  text-align: right;
}
/* -------------------- section2 -------------------- */


/* -------------------- section3 -------------------- */
.section3 p {
  margin-top: 50px;
  text-align: center;
}
/* -------------------- section3 -------------------- */


/* -------------------- footer -------------------- */
.footer {
  margin-top: 300px;
  height: 340px;
  position: relative;
  font-size: var(--font-size-S);
}

.footer_up {
  height: 40px;
  line-height: 40px;
  margin-bottom: 30px;
  border-top: 1px solid var(--gray-border-color);
  border-bottom: 1px solid var(--gray-border-color);
}

.footer_up li {
  float: left;
  margin-left: 15px;
}

.footer_up li:nth-child(1) {
  font-weight: var(--font-exBold);
}

.footer_down {
  padding: 0 15px;
}

.footer_down li {
  float: left;
  width: 290px;
  height: 170px;
}

.footer_down .f_title {
  width: 340px;
  height: 10px;
  margin-bottom: 15px;
  font-weight: var(--font-exBold);
}

.footer_down li p {
  line-height: 23px;
  display: block;
}

.footer_down li:nth-child(1) {
  margin-right: 50px;
}

.footer_down li:nth-child(3) {
  position: absolute;
  right: 0;
}
/* -------------------- footer -------------------- */

@media screen and (max-width:1300px) {
  body {overflow-x: auto;}
}