@charset "utf-8";
@import url("reset.css");

:root {
  /* font layout */
  --font-montserrat: "Montserrat", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-notoSansKR: "Noto Sans KR", sans-serif;

  --font-bold: 500;
  --font-exBold: 700;

  --font-size-title: 55px;
  --font-size-XXL: 80px;
  --font-size-XL: 30px;
  --font-size-L: 20px;
  --font-size-R: 16px;
  --font-size-S: 12px;

  /* color */
  --hashtag-color: #00b4ff;
  --gray-bg-color: #f2f2f2;
  --gray-font-color: #808080;
  --darkGray-font-color: #666;
  --gray-border-color: #eaeaea;
  --red-color: #ff0000;
  --dark-gray-color: rgb(34, 34, 34);
}

body {
  min-width: 1400px;
  font-family: var(--font-notoSansKR);
  overflow-x: hidden;
}

.margin {
  width: 90%;
  margin: 0 auto;
  max-width: 1730px;
  min-width: 1300px;
}

img {
  height: 100%;
}

/* -------------------- header -------------------- */
.header_wrap {
  position: sticky;
  top: 0;
  z-index: 500;
  width: 100%;
  height: 110px;
  background-color: #fff;
  transition: box-shadow .3s;
}

.header_wrap.shadow {
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05);
}

.header {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  font-family: var(--font-montserrat);
  font-weight: var(--font-bold);
}

/* header > logo */
.header .logo {
  float: left;
}

.header .logo a img {
  width: 185px;
}
/* header > logo */


/* header > nav */
.header .nav {
  min-width: 785px;
  float: left;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header .nav li {
  float: left;
  color: #000;
  font-size: var(--font-size-L);
  margin-left: 40px;
}

.header .nav li:first-child {
  margin-left: 0;
}

.header .nav li::before {
  content: "";
  position: relative;
  top: 27px;
  width: 0%;
  height: 1.5px;
  background-color: #000;
  display: block;
  transition: 0.3s;
}

.header nav li:hover::before,
.header nav li.active::before {
  width: 100%;
}
/* header > nav */


/* header > buttons */
.header .header_btns {
  float: right;
}

.header .header_btns .button {
  float: left;
}

.header .header_btns .buttons .button {
  margin-left: 30px;
}

.header .header_btns .buttons .icon:first-child {
  margin-left: 0;
}

.header .header_btns .buttons .icon img {
  width: 23px;
}

.header .header_btns .buttons .news {
  width: 70px;
  height: 27px;
  line-height: 27px;
  text-align: center;
  font-size: var(--font-size-R);
  border-radius: 13px;
  color: #fff;
  background-color: #000;
}
/* header > buttons */
/* -------------------- header -------------------- */


/* -------------------- title -------------------- */
.title {
  margin: 270px 0 100px;
  text-align: center;
  font-family: var(--font-montserrat);
  font-weight: var(--font-bold);
  font-size: var(--font-size-title);
}
/* -------------------- title -------------------- */


/* -------------------- menu -------------------- */
.menu_wrap {
  width: 100%;
  height: 350px;
  margin-bottom: 200px;
  border-top: 2px solid var(--gray-border-color);
  border-bottom: 2px solid var(--gray-border-color);
}

.menu_one {
  height: 100%;
  padding: 30px 0px;
  box-sizing: border-box;
}

.menu_one > li {
  float: left;
  width: 15%;
  margin-left: 5%;
  font-size: var(--font-size-L);
  font-weight: var(--font-bold);
  font-family: var(--font-roboto);
}

.menu_one > li:first-child .menu_two li {
  margin-bottom: 15px;
  color: #000;
  font-size: var(--font-size-L);
  font-weight: var(--font-bold);
  font-family: var(--font-roboto);
}

.menu_one .menu_two {
  margin-top: 13px;
}

.menu_one .menu_two li {
  margin-bottom: 7px;
  color: var(--gray-font-color);
  font-family: var(--font-notoSansKR);
  font-size: var(--font-size-R);
}

.menu_one .menu_two li a {
  position: relative;
}

.menu_one .menu_two li:hover,
.menu_one .menu_two li.active {
  color: #000;
  font-weight: var(--font-exBold);
}

.menu_one .menu_two li.active a::after {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;
  background-color: #000;
}
/* -------------------- menu -------------------- */


/* ----------------- con_title ----------------- */
.con_title {
  width: 100%;
  position: relative;
}

/* hashtag */
.con_title .hashtag {
  float: left;
}

.con_title .hashtag li {
  float: left;
  margin-right: 10px;
  padding: 2px 18px; 
  border-radius: 15px;
  font-family: var(--font-notoSansKR);
}

.con_title .hashtag li:nth-child(2n+1) {
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
}

.con_title .hashtag li:nth-child(2n) {
  background-color: #fff;
  border: 1px solid #000;
}

.con_title .hashtag button {
  color: inherit;
}
/* hashtag */

/* check_box */
.con_title .check_box {
  float: right;
}

.con_title .check_box li {
  float: left;
  margin-left: 30px;
  color: var(--darkGray-font-color);
}

.con_title .check_box input {
  margin-left: 3px;
}

.con_title .check_box input {
  accent-color: var(--darkGray-font-color);
}
/* check_box */
/* ----------------- con_title ----------------- */

.img_wrap img {
  width: 100%;
}

/* ----------------- section ----------------- */
.section_wrap {
  width: 100%;
  height: auto;
  margin-top: 20px;
  position: relative;
}

section {
  display: none;
}

.section1 {
  display: block;
}

/* main img */
section .main_img {
  float: left;
  width: 49%;
  position: relative;
  overflow: hidden;
}

section .main_img img {
  transition: .5s;
}

@media (hover:hover) and (pointer:fine) {/* pc */
  section .main_img:hover img {
    transform: scale(1.05);
  }
}

section .main_img h2 {
  position: absolute;
  top: 0;
  padding: 15px 60px;
  color: #fff;
  line-height: 85px;
  font-family: var(--font-montserrat);
  font-weight: 800;
  font-style: italic;
  font-size: var(--font-size-XXL);
}

section .main_img h2 span {
  color: #000;
  font-size: var(--font-size-XL);
}
/* main img */

section .con {
  width: 23.5%;
  margin-left: 2%;
  padding-bottom: 1%;
  float: left;
}

section .con:nth-child(6),
section .con:nth-child(10) {
  margin-left: 0;
}

/* con img */
section .con .img_wrap {
  position: relative;
  width: 100%;
  padding-top: 100%;
}

section .con .img_wrap img {
  position: absolute;
  top: 0;
}

section .con .img_wrap img:nth-child(2) {
  opacity: 0;
  transition: .3s;
}

@media (hover:hover) and (pointer:fine) { /* pc */
  section .con:hover .img_wrap img:nth-child(2) {
    opacity: 1;
  }
}
/* con img */

/* con text box */
section .con .text_box {
  position: relative;
  width: 100%;
}

section .con .text_box p {
  margin: 20px 0px 3px;
  color:var(--gray-font-color);
  font-size: var(--font-size-S);
}

section .con .text_box h4 {
  font-size: var(--font-size-L);
}

section .con .text_box .price {
  position: absolute;
  bottom: 35px;
}

section .con .text_box .normal_price {
  display: block;
  margin-bottom: -4px;
  color:var(--gray-font-color);
  text-decoration: line-through;
}

section .con .text_box .discount_price {
  font-weight: var(--font-exBold);
  font-size: calc(var(--font-size-L) + 2px);
}

section .con .text_box .discount_rate {
  margin-left: 7px;
  color:var(--red-color);
  font-weight: var(--font-exBold);
  font-size: var(--font-size-R);
}
/* con text box */
/* ----------------- section ----------------- */


/* ----------------- pager ----------------- */
.pager {
  display: inline-block;
  margin: 200px auto 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.pager .prev_btn,
.pager .num,
.pager .next_btn {
  float: left;
}

.pager button {
  width: 10px;
  height: 20px;
  margin-top: 6px;
}

.pager .prev_btn {
  margin-right: 5px;
}

.pager .next_btn {
  margin-left: 15px;
}

.pager .num li {
  float: left;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  color: #000;
  font-family: var(--font-montserrat);
  font-weight: var(--font-exBold);
  cursor: pointer;
}

.pager .num li.active {
  color: #fff;
  background-color: #000;
}


/* -------------------- footer -------------------- */
.footer {
  margin-top: 120px;
  height: 340px;
  position: relative;
  font-size: var(--font-size-S);
}

.footer_up {
  height: 40px;
  line-height: 40px;
  margin-bottom: 30px;
  border-top: 1px solid var(--gray-border-color);
  border-bottom: 1px solid var(--gray-border-color);
}

.footer_up li {
  float: left;
  margin-left: 15px;
}

.footer_up li:nth-child(1) {
  font-weight: var(--font-exBold);
}

.footer_down {
  padding: 0 15px;
}

.footer_down li {
  float: left;
  width: 290px;
  height: 170px;
}

.footer_down .f_title {
  width: 340px;
  height: 10px;
  margin-bottom: 15px;
  font-weight: var(--font-exBold);
}

.footer_down li p {
  line-height: 23px;
  display: block;
}

.footer_down li:nth-child(1) {
  margin-right: 50px;
}

.footer_down li:nth-child(3) {
  position: absolute;
  right: 0;
}
/* -------------------- footer -------------------- */

@media screen and (max-width:1300px) {
  body {overflow-x: auto;}
}