*{margin:0; padding:0;}
li{list-style:none;}
a{text-decoration: none; color:inherit;}
button{background-color: inherit; border:none; cursor: pointer; font-family:inherit; font-size:inherit;}
body{font-family: 'Noto Serif', serif; font-size:16px; overflow-x: hidden; scroll-behavior: smooth;}
img{width:auto; border:inherit; display: block;}
h1, h2, h3, h4, h5, h6 {font-weight: unset;}
.clearfix::after{content:""; clear:both; display: block;}


.margin{padding:0 5vw;}

/* header */
#header_wrap{position: sticky; top:0; z-index: 500; width: 100vw; background-color: #fff;}
header{display: flex; justify-content: space-between; position: sticky; top:0;
height: 110px; align-items: center; letter-spacing: -20; z-index: 100; font-family: 'Montserrat', sans-serif; font-weight: 700; padding:0 5vw; 
}
header nav li.active::before{
  content: ""; width: 100%; height: 1.5px; background-color: #000; display: block; position: relative; top: 27px;
}
header nav li::before{content: ""; width: 0%; height: 1.5px; background-color: #000; display: block; position: relative; top: 27px; transition: 0.3s;}
header nav li:hover::before{width: 100%;}

#logo img{width: 185px;}

nav{width: 60%;}
nav ul{display: flex; justify-content: space-between;}
nav li{color:#000; font-size:20px;}

.icons{display: flex; color:#fff;}
.icons .icon:nth-child(1){margin-left:0;}
.icon{margin-left:30px;}
.icon img{width: 23px;}
.news{margin-left:30px;}
.news span{
  width:70px; height: 25px; line-height: 25px; text-align: center; font-size:15px;
  display: block; border-radius:13px; color:#fff; background-color:#000 ;
  
}

body{min-width: 1400px;}
/* header */

.margin{font-family: 'Noto Sans KR', sans-serif; width: 90vw;}

/* title */
#title{font-family: 'Montserrat', sans-serif; font-weight: 700;
  font-size: 55px;text-align: center; margin-top: 150px; width: 100%;
}
/* title */


img{position: relative; transition:0.5s;}
h3,h4{font-weight: 700;}
p{color:#4c4c4c;}

/* section1 */
.section1{width: 100%; height: 175px; text-align: center; margin-top: 350px;}
.section1 .text_box h3{font-size: 30px; margin-bottom: 20px;}
.section1 .text_box p{line-height: 30px;}
/* section1 */

/* section2 */
.section2{width: 100%; height: 2800px; margin-top: 100px;}
.section2 .con{margin-top: 130px;}
.section2 .con .img_wrap{overflow: hidden;}
.section2 .con .left,.section2 .con .right{float:left;}
.section2 .con .right{margin-left: 2vw;}

.con .text_box h3{font-size:30px; margin-bottom: 10px;}
.con .text_box p{line-height: 25px;}
.con .text_box .more{display: block; width: 150px; height: 50px; border:1px solid #000; border-radius: 25px; text-align: center; line-height: 50px; margin-top: 50px; transition: 0.3s;}
.con .text_box .more:hover{background-color: #000; color:#fff;}
/* section2 */

/* con_ver1 */
.con_ver1{width: 100%; height: 650px;}
.con_ver1 .left{width: 46vw; height: 100%;}
.con_ver1 .left .img_wrap{width: 100%; height: 100%; background-color: #ddd;}
.con_ver1 .left .img_wrap img{transform: scale(90%); transform-origin: left top; position: relative; left:-280px; top: -100px;}
.con_ver1 .left .img_wrap:hover img{transform: scale(92%); transform-origin: -120px -50px;}


.con_ver1 .right{width: 42vw; height: 100%; position: relative;}
.con_ver1 .right .text_box{width: 100%;}
.con_ver1 .right .imgs_wrap{width: 100%; height: auto; position: absolute; bottom: 0;}
.con_ver1 .right .imgs_wrap .img_wrap{width: 20vw; height: 350px; background-color: #ddd; float:left; margin-left: 2vw;}
.con_ver1 .right .imgs_wrap .img_wrap:nth-child(1){margin-left:0;}
.con_ver1 .right .imgs_wrap .img_wrap img{position: relative; left: -20px; top:-150px; transform: scale(35%); transform-origin: left top;}
/* con_ver1 */

/* con_ver2 */
.con_ver2{width: 100%; height: 650px;}
.con_ver2 .left{width: 55vw; height: 100%; position: relative;}
.con_ver2 .left .text_box{width: 100%; text-align: right;}
.con_ver2 .left .text_box .more{position:absolute; right: 0;}

.con_ver2 .left .video_wrap{width: 33vw; height: 21vw; position: absolute; left:20%; bottom: 0;}
.con_ver2 .left .video_wrap .video{width: 100%; height: 16vw; background-color: #ddd; margin-bottom: 20px; position: relative; }
.con_ver2 .left .video_wrap .video_play_btn{width: 55px; height: 55px; position: relative; top:50%; left:50%; transform: translate(-50%,-50%);} 
.con_ver2 .left .video_wrap .video_play_btn img{width: 55px; height: 55px;}
.con_ver2 .left .video_wrap h4{font-size:18px;}

.con_ver2 .right{width: 33vw; height: 100%;}
.con_ver2 .right .img_wrap{width: 100%; height: 100%; background-color: #ddd;}
.con_ver2 .right .img_wrap img{transform: scale(90%); position: relative; left: -300px; top: -210px;}
.con_ver2 .right .img_wrap:hover img{transform: scale(92%);}
/* con_ver2 */

#con1 .left .img_wrap:hover img{transform-origin: -200px 0;}
#con2 .left .video_wrap .video{background: url('../img/sponsership_video1.png');
background-size: 140%; background-position: center;}
#con3 .left .img_wrap img{transform: scale(75%); left: -200px; top:-30px;}
#con3 .left .img_wrap:hover img{transform: scale(77%);}
#con3 .right .imgs_wrap .img_wrap:nth-child(2) img{top: -200px;}
#con4 .left .video_wrap .video{background: url('../img/sponsership_video2.png');
background-size: 105%; background-position: center;}
#con4 .right .img_wrap img{transform: scale(87%); transform-origin: left top; top:-50px; left:-370px;}
#con4 .right .img_wrap:hover img{transform: scale(89%); transform-origin: -150px -50px;}



/* footer */
footer{height: 340px;  font-size:12px; font-family: 'Noto Sans KR', sans-serif; margin-top: 500px;}
#footer_up{
  width: 100vw; height: 40px; border-top:1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea; line-height: 40px; margin-bottom: 30px;
}
#footer_up ul{width: 100%; height: 100%;}
#footer_up li{float:left; margin-left:15px;}
#footer_up li:nth-child(1){margin-left:5vw; font-family: 'Noto Sans KR', sans-serif; font-weight: 900;}

#footer_down{margin-left:5vw;}
#footer_down .f_title{font-weight: 900; width: 340px; height: 10px;
  margin-bottom: 20px;
}
#footer_down li{float:left; width: 290px; height: 170px;}
#footer_down li span{line-height: 20px; display: block;}
#footer_down li:nth-child(1){margin-right: 30px;}
#footer_down li:nth-child(3){position: absolute; right: 5vw;}

/* footer */

@media screen and (max-width:1399px) and (min-width:0px){
  #header_wrap{width: 1400px;}
  #header_wrap header{width: 1260px; padding-left: 70px; margin:0;}
  header #logo{width: 185px;}
  header nav{width: 756px; margin-left: 71.5px;}
  header #join{width: 176px; margin-left: 71.5px;}

  .sponsership{width: 1260px; margin:0 auto;}
  #title{width: 100%; }

  .section2 .con .right{margin-left: 28px;}

  .con_ver1 .left{width: 644px;}
  .con_ver1 .right{width: 588px;}
  .con_ver1 .right .imgs_wrap .img_wrap{width: 280px; margin-left: 28px;}

  .con_ver2 .left{width: 770px;}
  .con_ver2 .left .video_wrap{width: 462px; height: 294px;}
  .con_ver2 .left .video_wrap .video{height: 224px;}
  .con_ver2 .right{width: 462px;}

  /*이미지꾸미기*/
  #con1 .left .img_wrap img{left: -340px;}
  #con1 .right .imgs_wrap .img_wrap img{left: -40px;}
  #con1 .right .imgs_wrap .img_wrap:nth-child(1) img{left: -60px;}
  #con2 .right .img_wrap img{left: -360px;}
  #con3 .left .img_wrap img{left: -250px;}
  #con3 .right .imgs_wrap .img_wrap:nth-child(2) img{left:-70px;}
  #con4 .right .img_wrap img{left: -380px; transform: scale(76%);}
  /*이미지꾸미기*/

  footer{margin-top: 500px;}
  #footer_up{width: 1400px;}
  #footer_down{margin:0 60px;}
  #footer_up li:nth-child(1){margin-left:60px;}
  #footer_down li:nth-child(3){left: 1010px;}
}

/*이미지 꾸미기*/
@media screen and (max-width:1700px) and (min-width:1600px){
  #con1 .right .imgs_wrap .img_wrap img{left: -40px;}
  #con2 .right .img_wrap img{left: -330px;}
  #con3 .left .img_wrap img{left: -220px;}
  #con3 .right .imgs_wrap .img_wrap:nth-child(2) img{left:-50px;}
  #con4 .right .img_wrap img{left: -430px;}
}

@media screen and (max-width:1599px) and (min-width:1500px){
  #con1 .left .img_wrap img{left: -340px;}
  #con1 .right .imgs_wrap .img_wrap img{left: -40px;}
  #con1 .right .imgs_wrap .img_wrap:nth-child(1) img{left: -50px;}
  #con2 .right .img_wrap img{left: -330px;}
  #con3 .left .img_wrap img{left: -220px;}
  #con3 .right .imgs_wrap .img_wrap:nth-child(2) img{left:-50px;}
  #con4 .right .img_wrap img{left: -420px;transform: scale(84%);}
}

@media screen and (max-width:1499px) and (min-width:1400px){
  #con1 .left .img_wrap img{left: -340px;}
  #con1 .right .imgs_wrap .img_wrap img{left: -40px;}
  #con1 .right .imgs_wrap .img_wrap:nth-child(1) img{left: -60px;}
  #con2 .right .img_wrap img{left: -360px;}
  #con3 .left .img_wrap img{left: -250px;}
  #con3 .right .imgs_wrap .img_wrap:nth-child(2) img{left:-70px;}
  #con4 .right .img_wrap img{left: -380px; transform: scale(76%);}
}
/*이미지 꾸미기*/

@media screen and (min-width:1921px){
  #header_wrap header{width: 1728px; margin:0 auto;}

  .sponsership{width: 1728px; margin:0 auto;}
  #title{width: 100%; }

  .section2 .con .right{margin-left: 38px;}

  .con_ver1 .left{width: 884px;}
  .con_ver1 .right{width: 806px;}
  .con_ver1 .right .imgs_wrap .img_wrap{width: 384px; margin-left: 38px;}

  .con_ver2 .left{width: 1055px;}
  .con_ver2 .left .video_wrap{width: 634px; height: 403px;}
  .con_ver2 .left .video_wrap .video{height: 307px;}
  .con_ver2 .right{width: 635px;}

  footer{margin-top: 500px;}
  #footer_up ul{width: 1728px; margin:0 auto;}
  #footer_up li:nth-child(1){margin-left:-10px;}
  #footer_down{width: 1728px; margin:0 auto;}
  #footer_down ul{width: 1728px; margin:0 auto; position: relative;}
  #footer_down li:nth-child(3){right: 0;}
}