@charset "utf-8";
@import url("reset.css");

:root {
  /* font layout */
  --font-montserrat: "Montserrat", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-notoSansKR: "Noto Sans KR", sans-serif;

  --font-bold: 700;
  --font-exBold: 900;

  --font-size-XXL: 25px;
  --font-size-XL: 20px;
  --font-size-L: 18px;
  --font-size-R: 16px;
  --font-size-S: 12px;

  /* color */
  --hashtag-color: #00b4ff;
  --gray-bg-color: #f2f2f2;
  --gray-font-color: #7f7f7f;
  --gray-border-color: #eaeaea;
  --red-color: #ff0000;
}

body {
  min-width: 1400px;
  font-family: var(--font-notoSansKR);
  overflow-x: hidden;
}

.margin {
  width: 90%;
  margin: 0 auto;
  max-width: 1730px;
  min-width: 1300px;
}

/* -------------------- header -------------------- */
.header_wrap {
  position: sticky;
  top: 0;
  z-index: 500;
  width: 100%;
  height: 110px;
}

.header {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  font-family: var(--font-montserrat);
  font-weight: var(--font-bold);
}


/* header scroll style change */
.header_wrap.black {
  background-color: #fff;
  z-index: 500;
}

.header_wrap.black .header .nav li {
  color: #000;
}

.header_wrap.black .header .nav li::before {
  background-color: #000;
}

.header_wrap.black .header_btns .buttons .news {
  color: #fff;
  background-color: #000;
}
/* header scroll style change */


/* header > logo */
.header .logo {
  float: left;
}

.header .logo a img {
  width: 185px;
}
/* header > logo */


/* header > nav */
.header .nav {
  min-width: 785px;
  float: left;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header .nav li {
  float: left;
  color: #fff;
  font-size: var(--font-size-XL);
  margin-left: 40px;
}

.header .nav li:first-child {
  margin-left: 0;
}

.header .nav li::before {
  content: "";
  position: relative;
  top: 27px;
  width: 0%;
  height: 1.5px;
  background-color: #fff;
  display: block;
  transition: 0.3s;
}

.header nav li:hover::before {
  width: 100%;
}
/* header > nav */


/* header > buttons */
.header .header_btns {
  float: right;
}

.header .header_btns .button {
  float: left;
}

.header .header_btns .buttons .button {
  margin-left: 30px;
}

.header .header_btns .buttons .icon:first-child {
  margin-left: 0;
}

.header .header_btns .buttons .icon img {
  width: 23px;
}

.header .header_btns .buttons .news {
  width: 70px;
  height: 27px;
  line-height: 27px;
  text-align: center;
  font-size: var(--font-size-R);
  border-radius: 13px;
  color: #000;
  background-color: #fff;
}
/* header > buttons */
/* -------------------- header -------------------- */


/* -------------------- main -------------------- */
.main_wrap {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: #000;
  overflow: hidden;
}

.main_wrap .main {
  width: 100%;
  height: 100%;
  max-width: 1730px;
  min-width: 1260px;
  margin: 0 auto;
}

.main_wrap .main img {
  height: 100%;
  margin: 0 auto;
}
/* -------------------- main -------------------- */

/* -------------------- section1 -------------------- */
.section1 {
  width: 1150px;
  height: 515px;
  margin: calc(100vh + 150px) auto 250px;
  position: relative;

  /* scroll animation */
  top: -100px;
  opacity: 0;
  transition: .7s;
}

.section1.active {
  top: 0;
  opacity: 1;
}

.section1 .slides {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.section1 .slides .slide {
  position: relative;
}

.section1 .slide .text_box {
  z-index: 10;
  position: absolute;
  left: 0;
  top: 50px;
}

.section1 .slide .text_box > span:first-child {
  font-size: var(--font-size-XL);
  font-family: var(--font-roboto);
  font-weight: var(--font-bold);
  font-style: italic;
}

.section1 .slide .text_box h2 {
  font-size: 72px;
  line-height: 80px;
  margin: 20px 0 30px 0;
  font-family: var(--font-roboto);
  font-weight: 700;
  font-style: italic;
}

.slide .text_box .hashtag {
  font-size: var(--font-size-L);
  color: var(--hashtag-color);
  font-family: var(--font-roboto);
}

.slide .text_box p {
  margin-top: 10px;
  line-height: 23px;
}

.slide img {
  width: 800px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.section1 .arrow_buttons {
  width: 120px;
  position: absolute;
  left: 0;
  bottom: 30px;
}

.section1 .arrow_buttons .slide_pager {
  width: 100%;
  display: block;
  text-align: center;
}

.section1 .arrow_buttons button {
  width: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.section1 .arrow_buttons button img {
  width: 100%;
}

.section1 .arrow_buttons button.prev_button {
  left: 0;
}

.section1 .arrow_buttons button.next_button {
  right: 0;
}
/* -------------------- section1 -------------------- */

.img_cover {
  transition: 0.5s;
}
/* -------------------- section2 -------------------- */
.section2 {
  height: 700px;
  width: 100%;
  position: relative;
  background-color: var(--gray-bg-color);
}

.section2.active > .text_box {
  margin-left: 0;
  opacity: 1;
}

.section2.active .content_wrap {
  margin-right: 0;
  opacity: 1;
}

/* section2 > text_box */
.section2 > .text_box {
  position: relative;
  float: left;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);

  /* animation  */
  margin-left: -50px;
  opacity: 0;
  transition: .7s;
}

.section2 > .text_box h2 {
  font-size: 45px;
  line-height: 48px;
  font-family: var(--font-montserrat);
  font-weight: var(--font-bold);
}

.section2 > .text_box p {
  margin: 15px 0 60px 0;
  font-size: var(--font-size-L);
  font-family: var(--font-roboto);
}

.section2 > .text_box a {
  display: block;
  width: 100px;
  height: 40px;
  font-size: var(--font-size-S);
  border: 1px solid black;
  text-align: center;
  line-height: 40px;
  font-family: var(--font-roboto);
}

/* section2 content_wrap */
.section2 .content_wrap {
  width: 70%;
  height: 460px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%); 
  float: right;

  /* animation */
  margin-right: -100px;
  opacity: 0;
  transition: .7s;
  transition-delay: .2s;
}

.section2 .content_wrap .section2_slide {
  width: 100%;
  height: 100%;
}

.section2 .content_wrap .content {
  width: 320px !important;
  height: 100%;
  margin-right: 20px;
  float: left;
}

.section2 .content_wrap .content img {
  width: 320px;
  height: 300px;
  margin-bottom: 15px;
}

.section2 .content_wrap .content .text_box p {
  font-size: var(--font-size-S);
  color: var(--gray-font-color);
}

.section2 .content_wrap .content .text_box h3 {
  margin: 8px 0 40px;
  font-size: var(--font-size-L);
}

.section2 .content_wrap .content .text_box .normal_price {
  display: block;
  margin-bottom: -4px;
  text-decoration: line-through;
  color: var(--gray-font-color);
}

.section2 .content_wrap .content .text_box .discount_price {
  font-size: calc(var(--font-size-XL) + 2px);
  font-weight: var(--font-exBold);
}

.section2 .content_wrap .content .text_box .discount_rate {
  color: var(--red-color);
  font-size: var(--font-size-L);
  font-weight: var(--font-exBold);
}

.section2 .arrow_buttons {
  width: 70px;
  position: absolute;
  left: 0;
  top: -20px;
}

.section2 .arrow_buttons .slide_pager {
  width: 100%;
  display: block;
  text-align: center;
}

.section2 .arrow_buttons button {
  width: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.section2 .arrow_buttons button img {
  width: 100%;
}

.section2 .arrow_buttons button.prev_button {
  left: 0;
}

.section2 .arrow_buttons button.next_button {
  right: 0;
}
/* -------------------- section2 -------------------- */


/* -------------------- section3 -------------------- */
.section3 {
  height: 900px;
  width: 100%;
  background: url("../img/brand.png") fixed no-repeat;
  background-position: center;
  background-color: #000;
}

.section3 .text_box {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}

.section3 .text_box h2:first-child {
  display: none;
}

.section3 .text_box h2 {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  font-size: 110px;
  font-weight: var(--font-exBold);
}

.section3 .text_box h2::before {
  content: '';
  position: absolute;
  bottom: 20px;
  left: calc(100% + 10px);
  width: 3px;
  height: 105px;
  background-color: #fff;

  animation: cursor 1.5s infinite;
}

@keyframes cursor {
  0% {background-color: #fff;}
  50% {background-color: #fff;}
  51% {background-color: transparent;}
  100% {background-color: transparent;}
}

.section3 .text_box p {
  margin-top: 40px;
  font-size: var(--font-size-XXL);
  line-height: 38px;

  /* animation */
  position: relative;
  top: -50px;
  opacity: 0;
  transition: 1.5s;
  transition-delay: 1.5s;
}

.section3.active .text_box p {
  top: 0;
  opacity: 1;
}
/* -------------------- section3 -------------------- */


/* -------------------- section4 -------------------- */
.section4 {
  margin: 150px auto 150px;

  /* animation */
  position: relative;
  top: -50px;
  opacity: 0;
  transition: .7s;
}

.section4.active {
  top: 0;
  opacity: 1;
}

.section4 h2 {
  text-align: center;
  font-family: var(--font-montserrat);
  font-weight: var(--font-bold);
  font-size: var(--font-size-XXL);
}

.section4 .imgs {
  /* height: 21vw; */
  margin-top: 90px;
}

.section4 .img {
  width: 23.5%;
  height: 100%;
  margin-left: 2%;
  float: left;
  overflow: hidden;
}

.section4 .img:first-child {
  margin-left: 0;
}

.section4 .img img {
  width: 100%;
  transition: 0.5s;
}

.section4 .img:hover img {
  transform: scale(1.05);
}
/* -------------------- section4 -------------------- */


/* -------------------- footer -------------------- */
footer {
  height: 340px;
  font-size: var(--font-size-S);
  position: relative;
}

.footer_up {
  height: 40px;
  line-height: 40px;
  margin-bottom: 30px;
  border-top: 1px solid var(--gray-border-color);
  border-bottom: 1px solid var(--gray-border-color);
}

.footer_up li {
  float: left;
  margin-left: 15px;
}

.footer_up li:nth-child(1) {
  font-weight: var(--font-exBold);
}

.footer_down {
  padding: 0 15px;
}

.footer_down li {
  float: left;
  width: 290px;
  height: 170px;
}

.footer_down .f_title {
  width: 340px;
  height: 10px;
  margin-bottom: 15px;
  font-weight: var(--font-exBold);
}

.footer_down li p {
  line-height: 23px;
  display: block;
}

.footer_down li:nth-child(1) {
  margin-right: 50px;
}

.footer_down li:nth-child(3) {
  position: absolute;
  right: 0;
}
/* -------------------- footer -------------------- */

@media screen and (max-width:1300px) {
  body {overflow-x: auto;}
}