@charset 'utf-8';
@import url(reset.css);

:root {
  /* font */
  --dm-serif-font: "DM Serif Display", serif;
  --notoSans-KR: "Noto Sans KR", sans-serif;

  /* color */
  --main-color: #fff1e5;
  --sub-color: #d5823b;

  /* font-color */
  --black-font-color: #000;
  --dark-gray-font-color: #4c4c4c;
  --light-gray-font-color: #666;
}

@media (hover: hover) and (pointer: coarse) {
  html {
    overflow-x: hidden;
  }
}

body {
  overflow-x: hidden;
  position: relative;
  width: 100vw;
}

.margin {
  max-width: 1500px;
  width: 80%;
  margin: 0 auto;
}

/* ------------------------- header ------------------------- */
/* header addClass style */
.header_wrap.top {
  width: 100vw;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 9999;
}

.header_wrap.top .header {
  height: 100px;
}

.header_wrap.top .header .logo {
  transform: scale(85%);
}

.header_wrap.top ~ .main_slide .back {
  height: 850px;
}
/* header addClass style */

.header_wrap {
  width: 100%;
  height: 150px;
  transition: height 0.5s;
  border-bottom: 1px solid var(--main-color);
}

.header {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}

.header .header_btns {
  width: 20%;
  display: flex;
}

.header .header_btns .menu_btn {
  width: 24px;
  align-self: center;
}

.header .header_btns .reservation_btn {
  margin-left: 30px;
}

.header .logo {
  transition: transform 0.5s;
}

.header .logo img {
  width: 245px;
}

.header > a {
  width: 20%;
  text-align: right;
}
/* ------------------------- header ------------------------- */

/* ----------------------- menu(nav) ----------------------- */
.menu_wrap {
  width: 100vw;
  height: 100%;
  background-color: #fff1e5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 40;
  display: none;
}

/* menu_header */
.menu_wrap .menu_header {
  width: 80%;
  height: 130px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.menu_header .close_btn {
  /* margin-left: 152px; */
  margin-top: 2px;
}

.menu_header .close_btn img {
  width: 20px;
}

.menu_header .menu_logo {
  margin: 0 auto;
  position: relative;
  left: -7.5px;
}

.menu_header .menu_logo img {
  width: 245px;
}
/* menu_header */

/* menu */
.menu_wrap .menu_container {
  position: relative;
  width: 80%;
  height: calc(100% - 130px);
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.menu_container .menu {
  text-align: center;
}

.menu_container .menu .menu_title {
  font-size: 26px;
  line-height: 28px;
  color: #d5823b;
  margin: 70px 0 20px 0;
}

.menu_container .menu ul {
  font-family: var(--notoSans-KR);
  font-size: 16px;
  line-height: 40px;
}
/* menu */
/* ----------------------- menu(nav) ----------------------- */

/* ------------------- reservation modal ------------------- */
.reservation_modal_wrap {
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: none;
  z-index: 99999;
}

.reservation_modal {
  width: 90%;
  height: 90%;
  margin: 0 auto;
  padding: 95px 70px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 70px;
  z-index: 300;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
}

/* modal > modal_left */
.reservation_modal .modal_left {
  flex: 7;
  padding: 0 30px;
  box-sizing: border-box;
  border-right: 1px solid var(--sub-color);
}

/* modal > modal_left > calender */
.modal_left .calendar_wrap {
  height: 70%;
  padding: 20px 0;
  box-sizing: border-box;
  display: flex;
  font-weight: 300;
  font-size: 15px;
}

.modal_left .calendar_wrap .calendar {
  flex: 5;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  margin-right: 20px;
  border-radius: 50px;
  padding: 30px;
  box-sizing: border-box;
  text-align: center;
}

.modal_left .calendar_wrap .calendar:last-child {
  margin-right: 0;
}

.modal_left .calendar .month {
  font-size: 20px;
  margin: 10px 0 30px;
}

.modal_left .calendar table {
  width: 100%;
}

.modal_left .calendar table .week th {
  font-weight: 300;
  font-size: 14px;
  width: 10%;
}

.modal_left .calendar table .day td {
  height: 40px;
  font-family: var(--notoSans-KR);
  padding-top: 5px;
}

.modal_left .calendar table thead th:last-child,
.modal_left.calendar table tbody td:last-child {
  color: blue;
}

.modal_left .calendar table thead th:first-child,
.modal_left .calendar table tbody td:first-child {
  color: red;
}
/* modal > modal_left > calender */

/* modal > modal_left > info */
.modal_left .info_wrap {
  height: 30%;
  padding: 20px 0;
  display: flex;
}

.modal_left .info_wrap div {
  flex: 5;
  padding: 0 10px;
  box-sizing: border-box;
}

.modal_left .info_wrap div:last-child {
  margin-right: 0;
}

.modal_left .info_wrap .info {
  height: 50%;
  display: flex;
  align-items: center;
}

.modal_left .info_wrap .info h3 {
  font-size: 20px;
}

.modal_left .info_wrap .info .info_btn {
  font-family: var(--notoSans-KR);
  font-size: 40px;
  display: flex;
  align-items: center;
  font-weight: 300;
  justify-content: flex-end;
}

.modal_left .info_wrap .info .info_btn span {
  margin: 0 25px;
}

.modal_left .info_wrap .info .info_btn button img {
  width: 24px;
}
/* modal > modal_left > info */
/* modal > modal_left */

/* modal > modal_right */
.reservation_modal .modal_right {
  flex: 3;
  padding: 0 30px;
  box-sizing: border-box;
}
/* modal > modal_right > result */
.reservation_modal .modal_right .result_wrap {
  height: 70%;
  padding: 50px 30px 20px;
  box-sizing: border-box;
}

.modal_right .result_wrap .result {
  margin-bottom: 30px;
}

.modal_right .result_wrap .result h3 {
  font-family: var(--notoSans-KR);
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 5px;
  color: var(--sub-color);
}

.modal_right .result_wrap .result p {
  font-family: var(--notoSans-KR);
  font-size: 19px;
}
/* modal > modal_right > result */

/* modal > modal_right > search button */
.reservation_modal .modal_right .search_btn {
  height: 30%;
  padding: 20px 0;
}

.modal_right .search_btn button {
  width: 90%;
  height: 130px;
  background-color: var(--sub-color);
  border-radius: 20em;
  color: #fff;
  font-size: 22px;
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
/* modal > modal_right > search button */
/* modal > modal_right */

/* reservation close btn */
.reservation_modal_wrap .close_btn {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 60px;
  right: 60px;
}

.reservation_modal_wrap .close_btn img {
  width: 35px;
}
/* reservation close btn */
/* ------------------- reservation modal ------------------- */


/* ------------------------ paging ------------------------ */
.paging {
  margin: 50px auto;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  color: #d5823b;
}

.paging span:last-child {
  font-weight: 500;
}
/* ------------------------ paging ------------------------ */


/* ------------------------ title ------------------------ */
.offers_title {
  margin: 170px 0;
  text-align: center;
}

.offers_title h2 {
  font-family: var(--dm-serif-font);
  font-size: 60px;
  margin-bottom: 10px;
}

.offers_title button {
  font-size: 20px;
  margin-right: 50px;
  color: #999;
}

.offers_title button.active {
  color: #000;
}

.offers_title button:last-child {
  margin-right: 0;
}
/* ------------------------ title ------------------------ */

.contents > div section {
  position: relative;
}

.contents > div,
.contents > div section {
  display: none;
}

.contents > div.show {
  display: block;
}

/* .contents > div.show section:first-child {
  display: block;
} */

.contents > div.show section.show {
  display: block;
}

.contents > div.show section {
  display: none;
}


/* ------------------------ con ------------------------ */
section article.con {
  margin-bottom: 220px;
  transition: opacity 1s;
  opacity: 0;
}

section article.con.active {
  opacity: 1;
}

section article.con > a {
  display: flex;
}

@media (hover:hover) and (pointer:fine) {/* pc */
  section article.con .img_wrap:hover img {
    transform: scale(105%);
  }
}

@media (hover:hover) and (pointer:coarse) {/* mobile */
  section article.con .img_wrap img {
    transform: scale(105%);
  }
}

section article.con .img_wrap img {
  height: 100%;
  transition: transform .5s;
}

section article.con .text_box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section article.con .text_box .con_title {
  margin: 15px 0;
  line-height: 54px;
  font-family: var(--dm-serif-font);
  font-size: 50px;
}

section article.con .text_box p {
  color: #666;
  font-family: var(--notoSans-KR);
  line-height: 27px;
  font-size: 18px;
  margin: 20px 0;
}

section article.con .text_box .amount {
  font-size: 30px;
}

section article.con .text_box .unit {
  padding: 0 5px;
}

section article.con .text_box .view_more {
  width: 130px;
  height: 35px;
  display: block;
  position: relative;
  margin-top: 70px;
  line-height: 35px;
  border-radius: 17.5px;
  background-color: #fff;
  color: var(--sub-color);
  border: 1px solid var(--sub-color);
  text-align: center;
  font-size: 13px;
  overflow: hidden;
  z-index: 1;
  transition: .5s;
}

section article.con .text_box .view_more::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
  border-radius: 17.5px;
  background-color: var(--sub-color);
  transition: .5s;
  z-index: -1;
}

@media (hover:hover) and (pointer:fine) {/* pc */
  section article.con .text_box .view_more:hover::after {
    left: 0;
    right: 0;
  }
  
  section article.con .text_box .view_more:hover {
    color: #fff;
    border: 1px solid transparent;
  }
}

@media (hover:hover) and (pointer:coarse) { /* mobile */
  section article.con .text_box .view_more::after {
    left: 0;
    right: 0;
  }
  
  section article.con .text_box .view_more {
    color: #fff;
    border: 1px solid transparent;
  }
}

/* content row layout */
section article.con_row {
  height: 620px;
}

section article.con_row .img_wrap {
  max-width: 1100px;
  width: 60%;
  height: 620px;
  display: block;
  position: absolute;
  overflow: hidden;
  left: 0;
  border-radius: 0 70px 70px 0;
}

section article.con_row .text_box {
  padding-left: calc(65% + 20px);
  box-sizing: border-box;
}

section article.con_row .text_box .event_date {
  font-size: 18px;
}
/* content row layout */


/* content column layout */
section article.con_column {
  height: 800px;
}

section article.con_column .img_wrap {
  max-width: 1300px;
  width: 45%;
  height: 800px;
  display: block;
  position: absolute;
  overflow: hidden;
  right: 0;
  border-radius: 70px 0 0 70px ;
}

section article.con_column .text_box {
  width: 50%;
  margin-top: -50px;
}
/* content column layout */
/* ------------------------ con ------------------------ */


/* ------------------------ page_btns ------------------------ */
.page_btns {
  display: flex;
  justify-content: center;
  position: relative;
}

.page_btns .prev_btn {
  margin-right: 10px;
}

.page_btns .next_btn {
  margin-left: 10px;
}

.page_btns .prev_btn img, 
.page_btns .next_btn img {
  width: 10px;
} 

.page_btns ul {
  display: flex;
}

.page_btns ul li {
  width: 30px;
  height: 30px;
  margin: 0 7px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.page_btns ul li.active {
  background-color: var(--sub-color);
  color: #fff;
}
/* ------------------------ page_btns ------------------------ */


/* --------------------------- footer --------------------------- */
.footer {
  margin: 100px auto 0 auto;
  height: 440px;
  font-family: var(--notoSans-KR);
  color: var(--light-gray-font-color);
  font-size: 14px;
  position: relative;
}

.footer .footer_info {
  height: 330px;
  border-top: 2px solid #fff1e5;
}

.footer .footer_info ul {
  width: 100%;
  height: 115px;
  line-height: 115px;
  color: var(--black-font-color);
  font-weight: 500;
  display: flex;
}

.footer .footer_info li {
  width: auto;
  height: 100%;
  margin-right: 40px;
  transition: 0.3s;
}

.footer .footer_info li.family_sites {
  margin-left: auto;
  margin-right: 0;
}

@media (hover:hover) and (pointer:fine) {
  .footer .footer_info li:hover {
    color: #d5823b;
  }
}

.footer .footer_info .family_sites button {
  display: flex;
  height: 115px;
  align-items: center;
}

.footer .footer_info .family_sites button img {
  width: 12px;
  height: 12px;
  margin-left: 10px;
}

.footer .footer_info p {
  line-height: 30px;
}

.footer .footer_info .more_info_btn {
  position: absolute;
  right: 0;
  margin-top: -25px;
  display: flex;
  align-items: center;
}

.footer .footer_info .more_info_btn a {
  color: var(--black-font-color);
  font-weight: 500;
}

@media (hover:hover) and (pointer:fine) {
  .footer .footer_info .more_info_btn a:hover {
    text-decoration: underline;
  }
}

.footer .footer_info .more_info_btn img {
  width: 15px;
  height: 9px;
  margin-left: 7px;
}

.footer .copyright {
  height: 110px;
  border-top: 2px solid #fff1e5;
  line-height: 110px;
}
/* --------------------------- footer --------------------------- */


@media screen and (max-width: 1200px) {
  /* screen width 1200px header */
  .header_wrap {
    height: 120px;
  }

  .header .header_btns .reservation_btn,
  .header > a {
    display: none;
  }

  .header .header_btns {
    width: auto;
  }

  .header .logo {
    margin: 0 auto;
    transform: scale(90%);
  }
  /* screen width 1200px header */

  /* screen width 1200px menu */
  .menu_wrap .menu_container {
    display: block;
  }

  .menu_container .menu .menu_title {
    margin: 55px 0 20px 0;
  }

  .menu > ul {
    display: none;
  }
  /* screen width 1200px menu */

  .offers_title {
    margin: 170px 0 100px;
  }

  section article.con {
    margin-bottom: 120px;
  }

  section article.con .text_box .con_title {
    font-size: 45px;
  }

  section article.con .text_box .con_title br {
    display: none;
  }

  section article.con_row {
    height: auto;
  }

  section article.con_row .img_wrap {
    width: 100%;
    height: 600px;
    position: static;
    margin: 0 auto;
    border-radius: 70px;
  }

  section article.con_row .text_box {
    padding: 50px 30px;
  }

  section article.con_column {
    height: auto;
  }

  section article.con_column .img_wrap {
    width: 100%;
    height: 600px;
    position: static;
    border-radius: 70px;
  }

  section article.con_column .text_box {
    width: 100%;
    height: auto;
    margin-top: 0;
    padding: 50px 30px;
    box-sizing: border-box;
  }
}/* media screen max-width: 1200px */


@media screen and (max-width: 900px) {
  .margin {
    width: 90%;
  }

  /* 900px header */
  .header_wrap {
    height: 100px;
  }

  .header .header_btns .menu_btn {
    width: 20px;
  }

  .header .logo img {
    width: 180px;
  }

  .header_wrap.top .header,
  .header_wrap.top {
    height: 80px;
  }

  .menu_header .menu_logo img {
    width: 180px;
  }

  .menu_wrap .menu_header {
    width: 90%;
    height: 120px;
  }

  .menu_container .menu .menu_title {
    font-size: 22px;
  }
  /* 900px header */

  .paging span {
    font-size: 14px;
  }

  .offers_title h2 {
    font-size: 48px;
  }

  .offers_title button {
    font-size: 18px;
  }

  section article.con_row .img_wrap,
  section article.con_column .img_wrap {
    height: 430px;
  }

  section article.con_row .text_box .event_date {
    font-size: 16px;
  }

  section article.con .text_box .con_title {
    font-size: 35px;
    line-height: 25px;
  }

  section article.con .text_box p {
    font-size: 16px;
  }

  section article.con .text_box .amount {
    font-size: 24px;
  }

  section article.con .text_box .unit {
    font-size: 14px;
  }

  .footer {
    margin: 150px auto 0;
    font-size: 13px;
  }

  .footer .footer_info ul {
    display: none;
  }

  .footer .footer_info li {
    margin-right: 10px;
  }

  .footer .footer_info li.family_sites {
    display: none;
  }

  .footer .footer_info p {
    margin-top: 30px;
  }

  .footer .footer_info .more_info_btn {
    margin-top: 70px;
    left: 0;
  }
}/* media screen max-width: 900px */