@charset "utf-8";
@import url(reset.css);

:root {
  /* font */
  --dm-serif-font: "DM Serif Display", serif;
  --notoSans-KR: "Noto Sans KR", sans-serif;

  /* color */
  --main-color: #fff1e5;
  --sub-color: #d5823b;

  /* font-color */
  --black-font-color: #000;
  --dark-gray-font-color: #4c4c4c;
  --light-gray-font-color: #666;
}

@media (hover: hover) and (pointer: coarse) {
  html {
    overflow-x: hidden;
  }
}

body {
  overflow-x: hidden;
  position: relative;
  width: 100vw;
}

.margin {
  max-width: 1500px;
  width: 80%;
  margin: 0 auto;
}

/* ------------------------- header ------------------------- */
/* header addClass style */
.header_wrap.top {
  width: 100vw;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 9999;
}

.header_wrap.top .header {
  height: 100px;
}

.header_wrap.top .header .logo {
  transform: scale(0.85);
}

.header_wrap.top ~ .main_slide .back {
  height: 850px;
}
/* header addClass style */

.header_wrap {
  width: 100%;
  height: 150px;
  transition: height 0.5s;
  border-bottom: 1px solid var(--main-color);
}

.header {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}

.header .header_btns {
  width: 20%;
  display: flex;
}

.header .header_btns .menu_btn {
  width: 24px;
  align-self: center;
}

.header .header_btns .reservation_btn {
  margin-left: 30px;
}

.header .logo {
  transition: transform 0.5s;
}

.header .logo img {
  width: 245px;
}

.header > a {
  width: 20%;
  text-align: right;
}
/* ------------------------- header ------------------------- */

/* ----------------------- menu(nav) ----------------------- */
.menu_wrap {
  width: 100vw;
  height: 100%;
  background-color: #fff1e5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 40;
  display: none;
}

/* menu_header */
.menu_wrap .menu_header {
  width: 80%;
  height: 130px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.menu_header .close_btn {
  /* margin-left: 152px; */
  margin-top: 2px;
}

.menu_header .close_btn img {
  width: 20px;
}

.menu_header .menu_logo {
  margin: 0 auto;
  position: relative;
  left: -7.5px;
}

.menu_header .menu_logo img {
  width: 245px;
}
/* menu_header */

/* menu */
.menu_wrap .menu_container {
  position: relative;
  width: 80%;
  height: calc(100% - 130px);
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.menu_container .menu {
  text-align: center;
}

.menu_container .menu .menu_title {
  font-size: 26px;
  line-height: 28px;
  color: #d5823b;
  margin: 70px 0 20px 0;
}

.menu_container .menu ul {
  font-family: var(--notoSans-KR);
  font-size: 16px;
  line-height: 40px;
}
/* menu */
/* ----------------------- menu(nav) ----------------------- */

/* ------------------- reservation modal ------------------- */
.reservation_modal_wrap {
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: none;
  z-index: 99999;
}

.reservation_modal {
  width: 90%;
  height: 90%;
  margin: 0 auto;
  padding: 95px 70px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 70px;
  z-index: 300;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
}

/* modal > modal_left */
.reservation_modal .modal_left {
  flex: 7;
  padding: 0 30px;
  box-sizing: border-box;
  border-right: 1px solid var(--sub-color);
}

/* modal > modal_left > calender */
.modal_left .calendar_wrap {
  height: 70%;
  padding: 20px 0;
  box-sizing: border-box;
  display: flex;
  font-weight: 300;
  font-size: 15px;
}

.modal_left .calendar_wrap .calendar {
  flex: 5;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  margin-right: 20px;
  border-radius: 50px;
  padding: 30px;
  box-sizing: border-box;
  text-align: center;
}

.modal_left .calendar_wrap .calendar:last-child {
  margin-right: 0;
}

.modal_left .calendar .month {
  font-size: 20px;
  margin: 10px 0 30px;
}

.modal_left .calendar table {
  width: 100%;
}

.modal_left .calendar table .week th {
  font-weight: 300;
  font-size: 14px;
  width: 10%;
}

.modal_left .calendar table .day td {
  height: 40px;
  font-family: var(--notoSans-KR);
  padding-top: 5px;
}

.modal_left .calendar table thead th:last-child,
.modal_left.calendar table tbody td:last-child {
  color: blue;
}

.modal_left .calendar table thead th:first-child,
.modal_left .calendar table tbody td:first-child {
  color: red;
}
/* modal > modal_left > calender */

/* modal > modal_left > info */
.modal_left .info_wrap {
  height: 30%;
  padding: 20px 0;
  display: flex;
}

.modal_left .info_wrap div {
  flex: 5;
  padding: 0 10px;
  box-sizing: border-box;
}

.modal_left .info_wrap div:last-child {
  margin-right: 0;
}

.modal_left .info_wrap .info {
  height: 50%;
  display: flex;
  align-items: center;
}

.modal_left .info_wrap .info h3 {
  font-size: 20px;
}

.modal_left .info_wrap .info .info_btn {
  font-family: var(--notoSans-KR);
  font-size: 40px;
  display: flex;
  align-items: center;
  font-weight: 300;
  justify-content: flex-end;
}

.modal_left .info_wrap .info .info_btn span {
  margin: 0 25px;
}

.modal_left .info_wrap .info .info_btn button img {
  width: 24px;
}
/* modal > modal_left > info */
/* modal > modal_left */

/* modal > modal_right */
.reservation_modal .modal_right {
  flex: 3;
  padding: 0 30px;
  box-sizing: border-box;
}
/* modal > modal_right > result */
.reservation_modal .modal_right .result_wrap {
  height: 70%;
  padding: 50px 30px 20px;
  box-sizing: border-box;
}

.modal_right .result_wrap .result {
  margin-bottom: 30px;
}

.modal_right .result_wrap .result h3 {
  font-family: var(--notoSans-KR);
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 5px;
  color: var(--sub-color);
}

.modal_right .result_wrap .result p {
  font-family: var(--notoSans-KR);
  font-size: 19px;
}
/* modal > modal_right > result */

/* modal > modal_right > search button */
.reservation_modal .modal_right .search_btn {
  height: 30%;
  padding: 20px 0;
}

.modal_right .search_btn button {
  width: 90%;
  height: 130px;
  background-color: var(--sub-color);
  border-radius: 20em;
  color: #fff;
  font-size: 22px;
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
/* modal > modal_right > search button */
/* modal > modal_right */

/* reservation close btn */
.reservation_modal_wrap .close_btn {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 60px;
  right: 60px;
}

.reservation_modal_wrap .close_btn img {
  width: 35px;
}
/* reservation close btn */
/* ------------------- reservation modal ------------------- */


/* ------------------------ paging ------------------------ */
.paging {
  margin: 50px auto;
  padding-left: 100px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  color: #fff;
}

.paging span:last-child {
  font-weight: 500;
}
/* ------------------------ paging ------------------------ */


/* ------------------------ title ------------------------ */
.room_title {
  height: 700px;
  background-image: url(../img/room_main.png);
  border-radius: 0 0 80px 80px;
  margin-top: -125px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.room_title h2 {
  font-family: var(--dm-serif-font);
  font-size: 100px;
}
/* ------------------------ title ------------------------ */


/* ------------------------ section1 ------------------------ */
.section1 {
  display: flex;
  margin-top: 200px;
  border-top: 2px solid var(--main-color);
  border-bottom: 2px solid var(--main-color);

  /* animation */
  position: relative;
  top: -50px;
  opacity: 0;
  transition: .7s;
}

.section1.active {
  top: 0;
  opacity: 1;
}

.section1 article {
  flex: 5;
  text-align: center
}

.section1 .article1 {
  border-right: 2px solid var(--main-color);
}

.section1 article h3 {
  font-size: 22px;
  padding: 20px 0;
  border-bottom: 2px solid var(--main-color);
}

.section1 article ul {
  height: 250px;
  font-family: var(--notoSans-KR);
  font-size: 18px;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.section1 article ul li {
  padding: 10px 0;
}
/* ------------------------ section1 ------------------------ */


/* ------------------------ section2 ------------------------ */
.section2 {
  margin-top: 200px;
}

.section2 article {
  height: 370px;
  margin-bottom: 45px;
  display: flex;

  /* animation */
  position: relative;
  top: -50px;
  opacity: 0;
  transition: .7s;
}

.section2 article.active {
  top: 0;
  opacity: 1;
}

.section2 article .img_wrap {
  width: 40%;
  height: 100%;
  overflow: hidden;
  border-radius: 50px;
}

.section2 article .img_wrap img {
  height: 100%;
}

.section2 article .text_box {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 70px;
}

.section2 article .text_box h3 {
  font-size: 32px;
}

.section2 article .text_box ul {
  margin-top: 15px;
}

.section2 article .text_box li {
  font-family: var(--notoSans-KR);
  font-size: 18px;
  color: var(--dark-gray-font-color);
  margin-top: 5px;
  list-style-type: '-  ';
}
/* ------------------------ section2 ------------------------ */


/* ------------------------ section3 ------------------------ */
.section3 {
  margin-top: 200px;
  background-color: var(--main-color);
  border-radius: 50px;
  display: flex;

  /* animation */
  opacity: 0;
  transition: .7s;
}

.section3.active{
  opacity: 1;
}

.section3 article {
  flex: 5;
  margin: 50px 0 50px 70px;
  padding-right: 70px;
  font-family: var(--notoSans-KR);
}

.section3 .article1 {
  border-right: 1px solid var(--sub-color);
}

.section3 article h3 {
  font-size: 25px;
  padding: 0 0 15px;
}

.section3 article li {
  color: var(--dark-gray-font-color);
  line-height: 30px;
  list-style-type: '-  ';
}
/* ------------------------ section3 ------------------------ */


/* ---------------------- list button ---------------------- */
.list_button {
  width: 240px;
  height: 80px;
  display: block;
  margin: 0 auto;
  position: relative;
  line-height: 80px;
  background-color: #fff;
  color: var(--sub-color);
  border: 1px solid var(--sub-color);
  border-radius: 40px;
  text-align: center;
  margin: 270px auto 0;
  font-size: 22px;
  font-family: var(--notoSans-KR);
  z-index: 10;
  overflow: hidden;
  transition: .5s;
}

.list_button::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
  background-color: var(--sub-color);
  border-radius: 40px;
  z-index: -1;
  transition: .5s;
}

@media (hover:hover) and (pointer:fine){/* pc */
  .list_button:hover::after {
    left: 0;
    right: 0;
  }
  
  .list_button:hover {
    color: #fff;
    border-color: transparent;
  }
}

@media (hover:hover) and (pointer:coarse){/* mobile */
  .list_button::after {
    left: 0;
    right: 0;
  }
  
  .list_button {
    color: #fff;
    border-color: transparent;
  }
}
/* ---------------------- list button ---------------------- */


/* --------------------------- footer --------------------------- */
.footer {
  margin: 120px auto 0 auto;
  height: 440px;
  font-family: var(--notoSans-KR);
  color: var(--light-gray-font-color);
  font-size: 14px;
  position: relative;
}

.footer .footer_info {
  height: 330px;
  border-top: 2px solid #fff1e5;
}

.footer .footer_info ul {
  width: 100%;
  height: 115px;
  line-height: 115px;
  color: var(--black-font-color);
  font-weight: 500;
  display: flex;
}

.footer .footer_info li {
  width: auto;
  height: 100%;
  margin-right: 40px;
  transition: 0.3s;
}

.footer .footer_info li.family_sites {
  margin-left: auto;
  margin-right: 0;
}

@media (hover:hover) and (pointer:fine) {
  .footer .footer_info li:hover {
    color: #d5823b;
  }
}

.footer .footer_info .family_sites button {
  display: flex;
  height: 115px;
  align-items: center;
}

.footer .footer_info .family_sites button img {
  width: 12px;
  height: 12px;
  margin-left: 10px;
}

.footer .footer_info p {
  line-height: 30px;
}

.footer .footer_info .more_info_btn {
  position: absolute;
  right: 0;
  margin-top: -25px;
  display: flex;
  align-items: center;
}

.footer .footer_info .more_info_btn a {
  color: var(--black-font-color);
  font-weight: 500;
}

@media (hover:hover) and (pointer:fine) {
  .footer .footer_info .more_info_btn a:hover {
    text-decoration: underline;
  }
}

.footer .footer_info .more_info_btn img {
  width: 15px;
  height: 9px;
  margin-left: 7px;
}

.footer .copyright {
  height: 110px;
  border-top: 2px solid #fff1e5;
  line-height: 110px;
}
/* --------------------------- footer --------------------------- */


@media screen and (max-width: 1500px) {
  .section1,
  .section2,
  .section3 {
    margin-top: 120px;
  }
}/* media screen max-width: 1500px */

@media screen and (max-width: 1200px) {
  /* screen width 1200px header */
  .header_wrap {
    height: 120px;
  }

  .header .header_btns .reservation_btn,
  .header > a {
    display: none;
  }

  .header .header_btns {
    width: auto;
  }

  .header .logo {
    margin: 0 auto;
    transform: scale(0.9);
  }
  /* screen width 1200px header */

  /* screen width 1200px menu */
  .menu_wrap .menu_container {
    display: block;
  }

  .menu_container .menu .menu_title {
    margin: 55px 0 20px 0;
  }

  .menu > ul {
    display: none;
  }
  /* screen width 1200px menu */

  .section2 {
    display: flex;
    justify-content: space-between;
  }

  .section2 article {
    width: 23%;
  }

  .section2 article .img_wrap {
    width: 100%;
    position: relative;
    cursor: pointer;
  }

  .section2 article .img_wrap::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, .5);
    opacity: 1;
    transition: .5s;
  }

  @media (hover:hover) and (pointer:fine){/* pc */
      .section2 article .img_wrap:hover::after {
        opacity: 0;
      }
  }

  @media (hover:hover) and (pointer:coarse){/* mobile */
      .section2 article .img_wrap::after {
        opacity: 0;
      }
  }

  .section2 article .text_box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    height: 70%;
    background-color: #fff;
    margin-left: 0px;
    padding: 80px;
    border-radius: 70px;
    box-sizing: border-box;
    z-index: 9999;
    display: none;
  }

  .section2 article::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
    display: none;
  }
  
  .section2.back article::before {
    display: block;
  }

  .section3 {
    margin-top: 80px;
    flex-direction: column;
  }

  .section3 article {
    padding-left: 30px;
  }

  .section3 .article1 {
    border: none;
    border-bottom: 1px solid var(--sub-color);
    margin: 50px 70px 0 70px;
    padding-bottom: 50px;
  }

  .list_button {
    width: 200px;
    height: 70px;
    line-height: 70px;
    margin: 200px auto 0;
  }
}/* media screen max-width: 1200px */

@media screen and (max-width: 900px) {
  .margin {
    width: 90%;
  }

  /* 900px header */
  .header_wrap {
    height: 100px;
  }

  .header .header_btns .menu_btn {
    width: 20px;
  }

  .header .logo img {
    width: 180px;
  }

  .header_wrap.top .header,
  .header_wrap.top {
    height: 80px;
  }

  .menu_header .menu_logo img {
    width: 180px;
  }

  .menu_wrap .menu_header {
    width: 90%;
    height: 120px;
  }

  .menu_container .menu .menu_title {
    font-size: 22px;
  }
  /* 900px header */

  .paging {
    font-size: 14px;
    padding-left: 12%;
  }

  .room_title {
    height: 600px;
    margin-top: -120px;
  }

  .room_title h2 {
    font-size: 70px;
  }

  .room_title p {
    padding: 0 40px;
  }

  .room_title p br {
    display: none;
  }

  .section1 article h3 {
    font-size: 18px;
  }

  .section1 article ul {
    font-size: 16px;
    height: 230px;
  }

  .section3 article {
    margin: 40px 0 50px 50px;
  }

  .section3 article h3 {
    font-size: 20px;
    padding: 0 0 10px;
  }

  .section3 article li {
    font-size: 14px;
  }

  .section3 .article1 {
    margin: 50px 50px 0;
  }

  .list_button {
    width: 150px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
  }

  .footer {
    margin: 80px auto 0;
    font-size: 13px;
  }

  .footer .footer_info ul {
    display: none;
  }

  .footer .footer_info li {
    margin-right: 10px;
  }

  .footer .footer_info li.family_sites {
    display: none;
  }

  .footer .footer_info p {
    margin-top: 30px;
  }

  .footer .footer_info .more_info_btn {
    margin-top: 70px;
    left: 0;
  }
}/* media screen max-width: 900px */