*{margin:0; padding:0;}
li{list-style:none;}
a{text-decoration: none; color:inherit;}
button{background:none; border:none; cursor: pointer; font-family:inherit; font-size:inherit;}
body{font-family: 'Noto Serif', serif; font-size:16px;}
img{width:max-content; display: block;}
h1, h2, h3, h4, h5, h6 {font-size: 100%; font-weight:normal;}
p{font-family:'Noto Sans KR', sans-serif;}

body{width: 100vw; overflow-x: hidden;}

/* #wrap{width: 90vw; margin:0 auto;} */

/* header */
#header_wrap{width: 100vw; background-color: #fff; z-index: 10000;}
#header_wrap.top{position: sticky; top:0;}
#header_wrap.top header{height: 100px;}
#header_wrap.top header img{transform: scale(85%);}
header{
  display: flex;
  height: 150px;
  justify-content: space-between;
  align-items: center;
  width: 90vw; position: relative; left: 50%; transform: translate(-50%); border-bottom: 1px solid #fff1e5;
}

#logo img{width: 245px;}

#menu_btn{width: 24px; align-self: center; float:left;margin-top:-2px;}
#reservation_btn{margin-left:30px;}

#logo{align-self: 6;}

#header_btns{width: 20vw;}
header > a{width: 20vw; text-align: right;}

/* header */

/* menu */
#menu{width: 100vw; height: 100vh; background-color: #fff1e5; position: sticky; top:0; z-index:40; display: none; }

#menu #menu_up{width: 90vw; height: 130px; margin:0 auto; display: flex; align-items: center; margin-top:10px;}
#menu_up .close_btn img{width: 24px;}
#menu_up #menu_logo{position: relative; left:50%; transform: translate(-50%); margin-left:-23px;}
#menu_up #menu_logo img{width: 245px;}

#menu #menu_down{width: 82vw; height:90vh; margin:0 auto; display: flex; justify-content: space-between;}
#menu_down .menu{width: 10vw; text-align: center;}
#menu_down .menu .menu_title{font-size:26px; line-height: 28px; color:#d5823b; margin: 70px 0 20px 0;}
#menu_down .menu ul{font-family: 'Noto Sans KR', sans-serif; font-size:16px; line-height: 40px;}

/* menu */

/* modal */
#modal_wrap{width: 100vw; height: 100vh; background-color: rgba(0, 0, 0, 0.4); position: sticky; top:0; display: none;}

#reservation_modal{width: 90vw; height: 90vh; background-color: #fff; border-radius: 70px; margin:0 auto; z-index: 300; position: relative;top:50%; transform: translateY(-50%);}

#reservation_modal #close_btn{width: 90vw; height: 40px; }
#close_btn button{width: 40px; height: 40px; position: absolute; top:60px; right: 60px;}
#close_btn img{width: 35px;}

#reservation_modal #reservation_wrap{width: 90vw; height: 76vh; position: absolute; bottom: 0;}

#reservation_wrap #reser_left{float:left; width: 58vw; height: 85%; border-right: 1px solid #d5823b; }
#reser_left #date_wrap{width: 58vw; height: 70%;  margin-left:5vw;}
#date_wrap .date{float:left; width: 40%; height: 385px; background-color: #fff1e5; border-radius: 50px; padding:30px; margin-right:20px; font-family:'Noto Sans KR', sans-serif; font-weight: 300; font-size:15px; }
#date_wrap .date:nth-child(1){margin-left: 0px;}
#date_wrap .date .month,#date_wrap .date .week{font-family:'Noto Serif', serif;}
#date_wrap .date .month{font-size:20px; text-align: center; position: relative; left:50%; transform: translate(-50%); width: 100%;}
#date_wrap .date .week{font-size:14px; display: flex; justify-content: space-between;}
#date_wrap .date td{width: 30px; height: 30px; margin: 5px; text-align: center; display:block; line-height: 30px;}
#date_wrap .date .day{display: flex; justify-content: space-between;cursor:pointer;}
#date_wrap .date .day td:nth-child(1){color:rgb(255, 0, 0);}
#date_wrap .date .day td:last-child{color:blue;}
#date_wrap .date .day td.choice{background-color: #d5823b; border-radius: 100%; color:#fff;}


#reser_left #people{width: 100%; height: 30%;  margin-left:80px;}
#people #people_left{width: 40%; margin: 10px; float:left;}
#people .people{display: flex; align-items: center; position: relative; margin-top:30px;}
#people .people:nth-child(2){margin-top: 70px;}
#people .people > span{font-size:20px; margin-left:1vw;}
#people .people .modal_btns{position: absolute; right: 1vw;}
#people .people .modal_btns img{width: 24px;}
#people .people .modal_btns span{font-family:'Noto Sans KR', sans-serif; font-weight: 300; font-size:40px; padding: 25px;}

#people #people_right{width: 40%; margin:10px; float:left;}
/* #people_right #room{margin-top:9vh} */

#reservation_wrap #reser_right{float:left; width: 20vw; height: 85%; padding-left: 5%;}
#reser_right #reser_info{width: 100%; height: 70%; font-family: 'Noto Sans KR', sans-serif; margin-top:20px;}
#reser_info .info{margin-top:30px;}
#reser_info .info h3{color:#d5823b; font-size:25px; margin-bottom: 10px;}
#reser_info .info span{font-size:19px; margin-top: 10px;}
#reser_info .info #info_people span:nth-child(3){display: block;}

#reser_right #search_btn{width: 100%; height: 30%;}
#search_btn button{background-color: #d5823b; display: block; width: 90%; height: 130px; border-radius: 20em; font-size:22px; color:#fff;}

/* modal */

/* paging */
#paging{width: 82vw; margin:50px auto; font-family:'Noto Sans KR', sans-serif; font-weight: 300; color:#d5823b;}
#paging span:last-child{font-weight: 500;}

#wrap .wedding_title{width: 40vw; margin:170px auto 0;  text-align: center;}
.wedding_title .wedding{font-family: 'DM Serif Display', serif; font-size:60px; margin-bottom: 10px;}
/* paging */

/* section1 */
#section1{width: 100vw; height: 700px; overflow: hidden; position: absolute; left: 0; margin-top: 80px;}
#section1 img{width: 100%; margin-top:-130px;}
/* section1 */


/* section2 */
#section2{width:100vw;  height:910px; position: relative; top:1000px}

#section2 .slide_wrap{margin-top: 0; width: 100%; height: 100%;}
#section2 .slide_wrap .slide{width: 100vw;}

#section2 .slide_wrap .slide .back{width: 85vw; height: 630px; background-color: #fff1e5; border-radius: 0 70px 70px 0; position: absolute; left: 0; margin-top:130px;}

#section2 .slide_wrap .slide .img_wrap{width: 65vw; height: 650px; border-radius: 70px 0 0 70px ; overflow: hidden; margin-top:90px; z-index: 20; position: relative; left:30%;
float:left; top: -70px; margin-left: 70px;}
#section2 .slide_wrap .slide .img_wrap img{margin-left:-20px; height: 700px;}

#section2 .slide_wrap .slide .text_box{width: 20vw; float:left; z-index: 50; position: absolute; left:9vw; top:220px; height: 450px;
margin-right: 20px;}
#section2 .slide_wrap .slide .text_box h3{font-family: 'DM Serif Display', serif;
  font-size: 65px; line-height: 65px; margin-top: 10px;
}
#section2 .slide_wrap .slide .text_box span{font-size:20px; line-height: 34px;}
#section2 .slide_wrap .slide .text_box p{font-size: 16px; line-height: 27px; margin-top:20px; color:#4c4c4c; height: 250px;}
#section2 .slide_wrap .slide .text_box button{width:130px ; height: 35px; background-color: #d5823b; border-radius: 17.5px; font-size:14px; color:#fff; position: absolute; bottom: 65px;}

/* section2 */

/* section3 */
#section3{width: 90vw; height: auto; margin:1100px auto; position: relative;}

/* .banner_wrap{} */

.banner{width: 42.5vw; height: 850px; float:left; background-color: #fff1e5; border-radius: 50px ; overflow: hidden; max-width: 1000px;;}
#banner2{margin-left:5vw;}

.banner > a{height: 530px; display: block; overflow: hidden;}
.banner img{height:530px; width: auto; transition: 0.5s; -webkit-transition:0.5s;}
.banner:hover img{transform: scale(105%);}

.banner .text_box{width: 80%; height: 200px; margin: 55px auto; position: relative; text-align: center;}
.banner .text_box h4{font-family: 'DM Serif Display', serif; font-size:40px; text-align: center;}
.banner .text_box p{margin:20px 0 10px 0; line-height: 25px; font-size: 17px; color:#4c4c4c;}
.banner .text_box button{display: block; width: 120px; height: 35px; line-height: 35px; text-align: center; border-radius:17.5px ; margin:45px auto; font-size:12px; cursor: pointer; border: 1px solid #fff; background-color: #fff; transition: 0.5s; -webkit-transition: 0.5s; }
.banner .text_box button:hover{border: 1px solid #d5823b; box-sizing: border-box;}
/* section3 */

/* footer */
footer{width: 90vw; margin:2250px auto 0 auto; height: 440px; font-family: 'Noto Sans KR', sans-serif; color:#666; font-size:13px;}

footer #footer_info{height: 330px; border-top: 2px solid #fff1e5; }
footer #footer_info ul{height: 115px; color:#000; font-weight: 500;}
footer #footer_info li{line-height: 115px; height: 115px; float:left; margin-left:40px; transition: 0.3s;}
footer #footer_info li:nth-child(1){margin-left:0;}
footer #footer_info li:hover{color:#d5823b;}

footer #footer_info #family_sites{position: absolute; right: 5vw;}
footer #footer_info #family_sites button{float:left; height: 115px;}
footer #footer_info #family_sites button:nth-child(2){width: 12px; height: 12px; display: block; margin:52px 0 0 10px;}
footer #footer_info #family_sites button:nth-child(2) img{width: 12px; position: relative; left:50%; transform: translate(-50%);}

footer #footer_info span{line-height: 25px;}
footer #footer_info #more_info{position: absolute; right: 5vw; margin-top:-23px;}
footer #footer_info #more_info a{color:#000; font-weight: 500; float:left;}
footer #footer_info #more_info a:hover{text-decoration: underline;}
footer #footer_info #more_info img{float:left; width:15px; margin:5px 0 0 10px;}

footer #copyright{height: 110px; border-top: 2px solid #fff1e5; line-height: 110px;}
/* footer */


@media screen and (max-width: 1500px) {


}/* media screen max-width: 1500px */



@media screen and (max-width: 1200px) {
  /* screen width 1200px header */
  .header_wrap {
    height: 120px;
  }

  .header .header_btns .reservation_btn,
  .header > a {
    display: none;
  }

  .header .header_btns {
    width: auto;
  }

  .header .logo {
    margin: 0 auto;
    transform: scale(90%);
  }
  /* screen width 1200px header */

  /* screen width 1200px menu */
  .menu_wrap .menu_container {
    display: block;
  }

  .menu > ul {
    display: none;
  }
  /* screen width 1200px menu */

}/* media screen max-width: 1200px */



@media screen and (max-width: 900px) {
  .margin {
    width: 90%;
  }

  /* 900px header */
  .header_wrap {
    height: 100px;
  }

  .header .header_btns .menu_btn {
    width: 20px;
  }

  .header .logo img {
    width: 180px;
  }

  .header_wrap.top .header,
  .header_wrap.top {
    height: 80px;
  }

  .menu_header .menu_logo img {
    width: 180px;
  }

  .menu_wrap .menu_header {
    width: 90%;
    height: 120px;
  }

  .menu_container .menu .menu_title {
    margin: 50px 0 20px;
    font-size: 22px;
  }
  /* 900px header */

  .footer {
    margin: 150px auto 0;
    font-size: 13px;
  }

  .footer .footer_info ul {
    display: none;
  }

  .footer .footer_info li {
    margin-right: 10px;
  }

  .footer .footer_info li.family_sites {
    display: none;
  }

  .footer .footer_info p {
    margin-top: 30px;
  }

  .footer .footer_info .more_info_btn {
    margin-top: 70px;
    left: 0;
  }

}/* media screen max-width: 900px */