*{margin:0; padding:0;}
li{list-style:none;}
a{text-decoration: none; color:inherit;}
button{background:none; border:none; cursor: pointer; font-family:inherit; font-size:inherit;}
body{font-family: 'Noto Serif', serif; font-size:16px;}
img{width:max-content; display: block;}
h1, h2, h3, h4, h5, h6 {font-size: 100%; font-weight:normal;}
p{font-family:'Noto Sans KR', sans-serif;}
select{border:0; outline: none; display: block; text-transform: none; }
:focus{outline:none;}

body{width: 100vw; overflow-x: hidden;}

/* #wrap{width: 90vw; margin:0 auto;} */

/* header */
#header_wrap{width: 100vw; background-color: #fff; z-index: 10000;}
#header_wrap.top{position: sticky; top:0;}
#header_wrap.top header{height: 100px;}
#header_wrap.top header img{transform: scale(85%);}
header{
  display: flex;
  height: 150px;
  justify-content: space-between;
  align-items: center;
  width: 90vw; position: relative; left: 50%; transform: translate(-50%); border-bottom: 1px solid #fff1e5;
}

#logo img{width: 245px;}

#menu_btn{width: 24px; align-self: center; float:left;margin-top:-2px;}
#reservation_btn{margin-left:30px;}

#logo{align-self: 6;}

#header_btns{width: 20vw;}
header > a{width: 20vw; text-align: right;}

/* header */

/* menu */
#menu{width: 100vw; height: 100vh; background-color: #fff1e5; position: sticky; top:0; z-index:40; display: none; }

#menu #menu_up{width: 90vw; height: 130px; margin:0 auto; display: flex; align-items: center; margin-top:10px;}
#menu_up .close_btn img{width: 24px;}
#menu_up #menu_logo{position: relative; left:50%; transform: translate(-50%); margin-left:-23px;}
#menu_up #menu_logo img{width: 245px;}

#menu #menu_down{width: 82vw; height:90vh; margin:0 auto; display: flex; justify-content: space-between;}
#menu_down .menu{width: 10vw; text-align: center;}
#menu_down .menu .menu_title{font-size:26px; line-height: 28px; color:#d5823b; margin: 70px 0 20px 0;}
#menu_down .menu ul{font-family: 'Noto Sans KR', sans-serif; font-size:16px; line-height: 40px;}

/* menu */

/* modal */
#modal_wrap{width: 100vw; height: 100vh; background-color: rgba(0, 0, 0, 0.4); position: sticky; top:0; display: none;}

#reservation_modal{width: 90vw; height: 90vh; background-color: #fff; border-radius: 70px; margin:0 auto; z-index: 300; position: relative;top:50%; transform: translateY(-50%);}

#reservation_modal #close_btn{width: 90vw; height: 40px; }
#close_btn button{width: 40px; height: 40px; position: absolute; top:60px; right: 60px;}
#close_btn img{width: 35px;}

#reservation_modal #reservation_wrap{width: 90vw; height: 76vh; position: absolute; bottom: 0;}

#reservation_wrap #reser_left{float:left; width: 58vw; height: 85%; border-right: 1px solid #d5823b; }
#reser_left #date_wrap{width: 58vw; height: 70%;  margin-left:5vw;}
#date_wrap .date{float:left; width: 40%; height: 385px; background-color: #fff1e5; border-radius: 50px; padding:30px; margin-right:20px; font-family:'Noto Sans KR', sans-serif; font-weight: 300; font-size:15px; }
#date_wrap .date:nth-child(1){margin-left: 0px;}
#date_wrap .date .month,#date_wrap .date .week{font-family:'Noto Serif', serif;}
#date_wrap .date .month{font-size:20px; text-align: center; position: relative; left:50%; transform: translate(-50%); width: 100%;}
#date_wrap .date .week{font-size:14px; display: flex; justify-content: space-between;}
#date_wrap .date td{width: 30px; height: 30px; margin: 5px; text-align: center; display:block; line-height: 30px;}
#date_wrap .date .day{display: flex; justify-content: space-between;cursor:pointer;}
#date_wrap .date .day td:nth-child(1){color:rgb(255, 0, 0);}
#date_wrap .date .day td:last-child{color:blue;}
#date_wrap .date .day td.choice{background-color: #d5823b; border-radius: 100%; color:#fff;}


#reser_left #people{width: 100%; height: 30%;  margin-left:80px;}
#people #people_left{width: 40%; margin: 10px; float:left;}
#people .people{display: flex; align-items: center; position: relative; margin-top:30px;}
#people .people:nth-child(2){margin-top: 70px;}
#people .people > span{font-size:20px; margin-left:1vw;}
#people .people .modal_btns{position: absolute; right: 1vw;}
#people .people .modal_btns img{width: 24px;}
#people .people .modal_btns span{font-family:'Noto Sans KR', sans-serif; font-weight: 300; font-size:40px; padding: 25px;}

#people #people_right{width: 40%; margin:10px; float:left;}
/* #people_right #room{margin-top:9vh} */

#reservation_wrap #reser_right{float:left; width: 20vw; height: 85%; padding-left: 5%;}
#reser_right #reser_info{width: 100%; height: 70%; font-family: 'Noto Sans KR', sans-serif; margin-top:20px;}
#reser_info .info{margin-top:30px;}
#reser_info .info h3{color:#d5823b; font-size:25px; margin-bottom: 10px;}
#reser_info .info span{font-size:19px; margin-top: 10px;}
#reser_info .info #info_people span:nth-child(3){display: block;}

#reser_right #search_btn{width: 100%; height: 30%;}
#search_btn button{background-color: #d5823b; display: block; width: 90%; height: 130px; border-radius: 20em; font-size:22px; color:#fff;}

/* modal */

/* paging */
#paging{width: 82vw; margin:50px auto; font-family:'Noto Sans KR', sans-serif; font-weight: 300; color:#d5823b;}
#paging span:last-child{font-weight: 500;}

.brand_title{width: 40vw; margin:170px auto 0;  text-align: center;}
.brand_title .brand{font-family: 'DM Serif Display', serif; font-size:60px; margin-bottom: 10px;}
/* paging */

/* dining title */
.dining_title_top{width: 82vw; margin:170px 9vw 0;  text-align: right; display: flex; justify-content: flex-end;}
.dining_title_top .dining{font-family: 'DM Serif Display', serif; font-size:60px; margin-bottom: 10px;}
.dining_title_top button img{width: 22px; height: 22px; margin-left:25px;}

.dining_title_wrap .dining_menu{height: 450px; background-color: #fff1e5; width:28vw; position: absolute; right: 8vw; border-radius: 60px; display: none; z-index: 50;}
.dining_menu li{font-size:20px; text-align: left;
margin:25px 0 0 60px;}
.dining_menu li:nth-child(1){margin-top:50px;}
.dining_menu li button{color:rgb(131, 131, 131)}
.dining_menu li button.active{color:#000; font-weight: bold; text-decoration: underline;}
.dining_menu li button.active span{width: 50px; height: 1px; background-color: #000;}
/* dining title */

/* section1 */
.section1{width: 90vw; margin:50px auto; height: 1000px; }
.section1 .dining_main_slide .img_wrap{width: 75vw; height: 700px; border-radius: 70px; overflow: hidden;}
.section1 .dining_main_slide .img_wrap img{transform: scale(80%); transform-origin: top left;}
.section1 .text_box{width: 75vw; margin-left: 50px; margin-top: -15px;}
.section1 .text_box h3{font-family: 'Noto Sans KR', sans-serif; font-size: 32px; margin-bottom: 15px; font-weight: 500;}
.section1 .text_box p{font-weight: 300; line-height: 27px;}
/* section1 */

/* section2 */
.section2{width: 90vw; height: 700px; margin:200px auto 300px; font-family: 'Noto Sans KR', sans-serif; text-align: center;}
.section2 h3{width: 100%; font-size:40px; margin-bottom: 40px;}
.section2 .content{width: 100%; height: 600px; border-top: 2px solid #d5823b; border-bottom: 2px solid #fff1e5;}
.section2 .content > ul{float:left; align-items: center; border-left: 2px solid #fff1e5; box-sizing: border-box; height: 600px; font-family: 'Noto Serif', serif; font-size:22px;}
.section2 .content > ul:nth-child(1){width: 30vw; border:none; line-height: 600px;}
.section2 .content > ul:nth-child(2){width: 20vw;}
.section2 .content > ul:nth-child(2) li{width: 100%; height: 200px; line-height: 200px; border-bottom: 2px solid #fff1e5;}
.section2 .content > ul:nth-child(2) li:last-child{border:none;}

.section2 .content > ul:nth-child(3){width: 40vw; font-family: 'Noto Sans KR', sans-serif; font-weight: 300; text-align: left;}
.section2 .content > ul:nth-child(3) > li{width: 100%; height: 200px; border-top: 2px solid #fff1e5; line-height: 36px;}
.section2 .content > ul:nth-child(3) > li:nth-child(1){line-height: 200px; margin-left:60px; border:none;}
.section2 .content ul li ul{position: relative; top:50%; transform:  translateY(-50%); margin-left:60px;}
/* section2 */


/* section3 */
.section3{width: 100vw; margin:0 auto; height: 800px;}
.section3 li{width: 100%; position: relative; right: 0; height: 700px;}
.section3 li h3{position: absolute; top: 50%; transform:translateY(-50%); font-family: 'DM Serif Display', serif; font-size: 100px; line-height: 110px; margin-left: 9vw; z-index: 50;}
.section3 li .img_wrap{width: 73vw; border-radius: 70px 0 0 70px; overflow: hidden; margin-left: 480px; position: absolute; right: 0;}
/* section3 */

/* section4 */
.section4{width: 90vw; height:550px; margin:200px auto; font-family:'Noto Sans KR', sans-serif ; font-size:18px; font-weight: 300; line-height: 35px;}
.section4 > h3{width: 100%; height: 50px; font-size:40px; text-align: center; margin-bottom: 40px;}

.section4 .cons{width: 100%; height: 500px; border-top: 2px solid #d5823b; border-bottom: 2px solid #fff1e5;}
.section4 .cons .con{width: 50%; float:left; border-left: 2px solid #fff1e5; box-sizing: border-box; height: 500px; padding-left:50px;}
.section4 .cons .con:nth-child(1){border:none;}
.section4 .con h3{font-size: 25px; font-weight: 500; margin-top: 30px;}
.section4 .con:nth-child(1) li:nth-child(1){margin-top: 65px;}

.section4 .con:nth-child(2){line-height: 30px; width: 40vw;}
.section4 .con:nth-child(2) h3{margin-top: 65px; margin-bottom: 15px;}
.section4 .con:nth-child(2) li{margin-bottom: 8px;}
/* section4 */

/* dining_title_bottom */
.dining_title_bottom{font-family: 'DM Serif Display', serif; font-size: 25px; margin-left: 8vw; margin-top: -130px; display: flex;}
.dining_title_bottom button img{width: 16px; height: 16px; margin-left:10px; margin-top: 2px;;}

.dining_title_wrap_bottom{height: 380px; position: relative;}
.dining_title_wrap_bottom .dining_menu{height: 360px; background-color: #fff1e5; width:13vw; position:absolute; left: 7.3vw; top:50px; border-radius: 40px; display: none; }
.dining_menu_bottom li{font-size:16px; text-align: left;
margin:20px 0 0 35px;}
.dining_menu_bottom ul{position: relative; top:-5px;}
.dining_menu li button{color:rgb(131, 131, 131)}
.dining_menu li button.active{color:#000; font-weight: bold; text-decoration: underline;}
.dining_menu li button.active span{width: 50px; height: 1px; background-color: #000;}

/* dining_title_bottom */

#button{width: 240px; height: 80px; border-radius: 40px; font-family:'Noto Sans KR', sans-serif; font-size: 22px; text-align: center; line-height: 80px; background-color: #d5823b; color:#fff; margin:0 auto; position: absolute; left: 50%; transform: translate(-50%);}


/* footer */
footer{width: 90vw; margin:180px auto 0 auto; height: 440px; font-family: 'Noto Sans KR', sans-serif; color:#666; font-size:13px;}

footer #footer_info{height: 330px; border-top: 2px solid #fff1e5; }
footer #footer_info ul{height: 115px; color:#000; font-weight: 500;}
footer #footer_info li{line-height: 115px; height: 115px; float:left; margin-left:40px; transition: 0.3s;}
footer #footer_info li:nth-child(1){margin-left:0;}
footer #footer_info li:hover{color:#d5823b;}

footer #footer_info #family_sites{position: absolute; right: 5vw;}
footer #footer_info #family_sites button{float:left; height: 115px;}
footer #footer_info #family_sites button:nth-child(2){width: 12px; height: 12px; display: block; margin:52px 0 0 10px;}
footer #footer_info #family_sites button:nth-child(2) img{width: 12px; position: relative; left:50%; transform: translate(-50%);}

footer #footer_info span{line-height: 25px;}
footer #footer_info #more_info{position: absolute; right: 5vw; margin-top:-23px;}
footer #footer_info #more_info a{color:#000; font-weight: 500; float:left;}
footer #footer_info #more_info a:hover{text-decoration: underline;}
footer #footer_info #more_info img{float:left; width:15px; margin:5px 0 0 10px;}

footer #copyright{height: 110px; border-top: 2px solid #fff1e5; line-height: 110px;}
/* footer */

@media screen and (min-width:1950px) {
  .section1 .dining_main_slide .img_wrap{max-width: 1470px;}
  .section3{width: 85vw; }

  .section3 li .img_wrap{width: auto; border-radius: 70px; max-width: 1400px;}
}

@media screen and (max-width:1400px) and (min-width:1280px){
  /*header*/
  #logo img{width: 220px;}

  /*modal*/
  #reservation_modal{height: 83vh;}
  #reservation_modal #reservation_wrap{height: 72vh;}
  #reser_left #date_wrap{margin-left: 2vw;}
  #date_wrap .date{width: 46%;}
  #reservation_wrap #reser_left{width: 60vw;}
  #reservation_wrap #reser_right{padding-left: 3%; width: 20vw;}
  #reser_right #reser_info{height: 76%;}
  #people .people:nth-child(2){margin-top: 50px;}
  #people .people{margin-top: 50px;}
  #people .people .modal_btns span{font-size: 38px;}
  #search_btn button{height: 110px;}

  /*menu*/
  #menu_down .menu .menu_title{font-size: 24px;}
  #menu_up #menu_logo img{width: 220px;}

  .dining_title_top .dining{font-size: 50px;}
}